

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  7
</td>
<td class=cellinside>491
</td>
<td class=cellinside>131.25
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  3
</td>
<td class=cellinside>385
</td>
<td class=cellinside> 73.78
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>470
</td>
<td class=cellinside> 37.05
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 14
</td>
<td class=cellinside>372
</td>
<td class=cellinside>142.33
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>378
</td>
<td class=cellinside>136.89
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 11
</td>
<td class=cellinside>455
</td>
<td class=cellinside>142.69
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  8
</td>
<td class=cellinside>253
</td>
<td class=cellinside> 56.95
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>491
</td>
<td class=cellinside> 75.80
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>494
</td>
<td class=cellinside> 59.09
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 20
</td>
<td class=cellinside>477
</td>
<td class=cellinside>112.90
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  4
</td>
<td class=cellinside>274
</td>
<td class=cellinside> 65.77
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>469
</td>
<td class=cellinside>161.23
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 26
</td>
<td class=cellinside>498
</td>
<td class=cellinside>199.38
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 26
</td>
<td class=cellinside>497
</td>
<td class=cellinside>201.73
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 84
</td>
<td class=cellinside>497
</td>
<td class=cellinside>302.97
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 81
</td>
<td class=cellinside>498
</td>
<td class=cellinside>315.94
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>144
</td>
<td class=cellinside>500
</td>
<td class=cellinside>388.59
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>147
</td>
<td class=cellinside>500
</td>
<td class=cellinside>398.88
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
