

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2991
</td>
<td class=cellinside>2.9968e-02
</td>
<td class=cellinside>   2.25
</td>
<td class=cellinside> 2.5000
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3322
</td>
<td class=cellinside>5.2179e-04
</td>
<td class=cellinside>   3.35
</td>
<td class=cellinside> 2.3629
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8154
</td>
<td class=cellinside>3.7321e-03
</td>
<td class=cellinside>   2.95
</td>
<td class=cellinside> 2.4716
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2262
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>   6.25
</td>
<td class=cellinside> 2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7662
</td>
<td class=cellinside>1.7480e-03
</td>
<td class=cellinside>   6.35
</td>
<td class=cellinside> 2.9176
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6791
</td>
<td class=cellinside>2.9197e-03
</td>
<td class=cellinside>   9.60
</td>
<td class=cellinside> 2.2111
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7410
</td>
<td class=cellinside>5.1283e-03
</td>
<td class=cellinside>  35.50
</td>
<td class=cellinside> 3.7939
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>7.1412e-16
</td>
<td class=cellinside>  67.55
</td>
<td class=cellinside> 4.7405
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>5.8260e-04
</td>
<td class=cellinside>  37.30
</td>
<td class=cellinside> 4.3473
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.4930
</td>
<td class=cellinside>8.9858e-03
</td>
<td class=cellinside> 210.25
</td>
<td class=cellinside> 8.4200
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.2929
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  83.20
</td>
<td class=cellinside> 5.2474
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6113
</td>
<td class=cellinside>7.0428e-03
</td>
<td class=cellinside> 126.25
</td>
<td class=cellinside> 6.0040
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0654
</td>
<td class=cellinside>1.4363e-02
</td>
<td class=cellinside> 358.90
</td>
<td class=cellinside>10.6501
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3566
</td>
<td class=cellinside>3.0322e-03
</td>
<td class=cellinside> 353.25
</td>
<td class=cellinside> 8.9153
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8100
</td>
<td class=cellinside>2.7170e-02
</td>
<td class=cellinside> 866.06
</td>
<td class=cellinside>15.6359
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0408
</td>
<td class=cellinside>2.7830e-02
</td>
<td class=cellinside>1429.15
</td>
<td class=cellinside>33.7703
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5160
</td>
<td class=cellinside>3.4074e-02
</td>
<td class=cellinside>2942.25
</td>
<td class=cellinside>51.2785
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5729
</td>
<td class=cellinside>4.3405e-02
</td>
<td class=cellinside>2681.25
</td>
<td class=cellinside>78.4650
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
