

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>171
</td>
<td class=cellinside>493
</td>
<td class=cellinside>384.13
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>276
</td>
<td class=cellinside>497
</td>
<td class=cellinside>432.91
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>231
</td>
<td class=cellinside>499
</td>
<td class=cellinside>467.01
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>158
</td>
<td class=cellinside>486
</td>
<td class=cellinside>363.71
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>181
</td>
<td class=cellinside>499
</td>
<td class=cellinside>371.93
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>190
</td>
<td class=cellinside>489
</td>
<td class=cellinside>392.70
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>247
</td>
<td class=cellinside>492
</td>
<td class=cellinside>443.05
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>255
</td>
<td class=cellinside>499
</td>
<td class=cellinside>432.38
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>251
</td>
<td class=cellinside>499
</td>
<td class=cellinside>464.19
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>227
</td>
<td class=cellinside>480
</td>
<td class=cellinside>394.65
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>272
</td>
<td class=cellinside>496
</td>
<td class=cellinside>434.69
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>194
</td>
<td class=cellinside>500
</td>
<td class=cellinside>386.41
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>113
</td>
<td class=cellinside>474
</td>
<td class=cellinside>339.46
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>156
</td>
<td class=cellinside>474
</td>
<td class=cellinside>339.00
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>100
</td>
<td class=cellinside>416
</td>
<td class=cellinside>244.71
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 90
</td>
<td class=cellinside>419
</td>
<td class=cellinside>226.80
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 46
</td>
<td class=cellinside>356
</td>
<td class=cellinside>175.60
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 56
</td>
<td class=cellinside>353
</td>
<td class=cellinside>162.97
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
