

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2649
</td>
<td class=cellinside>0.03724949
</td>
<td class=cellinside>   1.25
</td>
<td class=cellinside>  2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3302
</td>
<td class=cellinside>0.00211292
</td>
<td class=cellinside>   1.20
</td>
<td class=cellinside>  2.1462
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8153
</td>
<td class=cellinside>0.00529813
</td>
<td class=cellinside>   1.20
</td>
<td class=cellinside>  2.1462
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2203
</td>
<td class=cellinside>0.00359634
</td>
<td class=cellinside>   1.75
</td>
<td class=cellinside>  2.3969
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7570
</td>
<td class=cellinside>0.00926204
</td>
<td class=cellinside>   2.40
</td>
<td class=cellinside>  3.5873
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6688
</td>
<td class=cellinside>0.01888662
</td>
<td class=cellinside>   3.70
</td>
<td class=cellinside>  2.4225
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7333
</td>
<td class=cellinside>0.02239404
</td>
<td class=cellinside>   7.65
</td>
<td class=cellinside>  3.0530
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7030
</td>
<td class=cellinside>0.00376076
</td>
<td class=cellinside>  12.05
</td>
<td class=cellinside>  3.7669
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00021126
</td>
<td class=cellinside>   6.25
</td>
<td class=cellinside>  2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5001
</td>
<td class=cellinside>0.01647101
</td>
<td class=cellinside>  54.25
</td>
<td class=cellinside> 13.3971
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3071
</td>
<td class=cellinside>0.02044666
</td>
<td class=cellinside>  17.55
</td>
<td class=cellinside>  6.3363
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6004
</td>
<td class=cellinside>0.00759387
</td>
<td class=cellinside>  20.25
</td>
<td class=cellinside>  5.0440
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0607
</td>
<td class=cellinside>0.01134297
</td>
<td class=cellinside>  73.65
</td>
<td class=cellinside> 21.6358
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3530
</td>
<td class=cellinside>0.01169266
</td>
<td class=cellinside>  81.40
</td>
<td class=cellinside> 24.2470
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8158
</td>
<td class=cellinside>0.03086795
</td>
<td class=cellinside> 314.45
</td>
<td class=cellinside>100.0199
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0552
</td>
<td class=cellinside>0.03157615
</td>
<td class=cellinside> 456.15
</td>
<td class=cellinside>135.8119
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5083
</td>
<td class=cellinside>0.03738716
</td>
<td class=cellinside>1095.35
</td>
<td class=cellinside>395.6201
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5766
</td>
<td class=cellinside>0.03824400
</td>
<td class=cellinside>1235.75
</td>
<td class=cellinside>307.3028
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
