

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 337
</td>
<td class=cellinside> 97.63
</td>
<td class=cellinside>201
</td>
<td class=cellinside> 537
</td>
<td class=cellinside>297.63
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 173
</td>
<td class=cellinside> 29.10
</td>
<td class=cellinside>200
</td>
<td class=cellinside> 373
</td>
<td class=cellinside>229.10
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside> 291
</td>
<td class=cellinside> 55.34
</td>
<td class=cellinside>202
</td>
<td class=cellinside> 491
</td>
<td class=cellinside>255.34
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 431
</td>
<td class=cellinside> 82.18
</td>
<td class=cellinside>201
</td>
<td class=cellinside> 631
</td>
<td class=cellinside>282.18
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 314
</td>
<td class=cellinside> 84.41
</td>
<td class=cellinside>200
</td>
<td class=cellinside> 514
</td>
<td class=cellinside>284.41
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>  6
</td>
<td class=cellinside> 500
</td>
<td class=cellinside>151.82
</td>
<td class=cellinside>206
</td>
<td class=cellinside> 700
</td>
<td class=cellinside>351.82
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  4
</td>
<td class=cellinside> 417
</td>
<td class=cellinside> 89.49
</td>
<td class=cellinside>204
</td>
<td class=cellinside> 617
</td>
<td class=cellinside>289.49
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 259
</td>
<td class=cellinside> 57.46
</td>
<td class=cellinside>200
</td>
<td class=cellinside> 459
</td>
<td class=cellinside>257.46
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 203
</td>
<td class=cellinside> 18.65
</td>
<td class=cellinside>201
</td>
<td class=cellinside> 403
</td>
<td class=cellinside>218.65
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 13
</td>
<td class=cellinside> 443
</td>
<td class=cellinside>170.23
</td>
<td class=cellinside>213
</td>
<td class=cellinside> 643
</td>
<td class=cellinside>370.23
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 451
</td>
<td class=cellinside>119.13
</td>
<td class=cellinside>201
</td>
<td class=cellinside> 651
</td>
<td class=cellinside>319.13
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 192
</td>
<td class=cellinside> 30.31
</td>
<td class=cellinside>200
</td>
<td class=cellinside> 392
</td>
<td class=cellinside>230.31
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 17
</td>
<td class=cellinside> 410
</td>
<td class=cellinside>123.47
</td>
<td class=cellinside>217
</td>
<td class=cellinside> 610
</td>
<td class=cellinside>323.47
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 11
</td>
<td class=cellinside> 478
</td>
<td class=cellinside>133.26
</td>
<td class=cellinside>211
</td>
<td class=cellinside> 678
</td>
<td class=cellinside>333.26
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 33
</td>
<td class=cellinside>1132
</td>
<td class=cellinside>323.33
</td>
<td class=cellinside>233
</td>
<td class=cellinside>1332
</td>
<td class=cellinside>523.33
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 50
</td>
<td class=cellinside> 723
</td>
<td class=cellinside>280.03
</td>
<td class=cellinside>250
</td>
<td class=cellinside> 923
</td>
<td class=cellinside>480.03
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 69
</td>
<td class=cellinside>1637
</td>
<td class=cellinside>392.55
</td>
<td class=cellinside>269
</td>
<td class=cellinside>1837
</td>
<td class=cellinside>592.55
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>128
</td>
<td class=cellinside> 988
</td>
<td class=cellinside>443.37
</td>
<td class=cellinside>328
</td>
<td class=cellinside>1188
</td>
<td class=cellinside>643.37
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
