

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2753
</td>
<td class=cellinside>3.7105e-02
</td>
<td class=cellinside>   3.45
</td>
<td class=cellinside> 2.3241
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3323
</td>
<td class=cellinside>4.2047e-04
</td>
<td class=cellinside>   4.35
</td>
<td class=cellinside> 1.6900
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8159
</td>
<td class=cellinside>3.3591e-03
</td>
<td class=cellinside>   3.95
</td>
<td class=cellinside> 2.0468
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2248
</td>
<td class=cellinside>2.8443e-03
</td>
<td class=cellinside>   6.10
</td>
<td class=cellinside> 2.0817
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7662
</td>
<td class=cellinside>1.7480e-03
</td>
<td class=cellinside>   8.15
</td>
<td class=cellinside> 2.8119
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6789
</td>
<td class=cellinside>4.7435e-03
</td>
<td class=cellinside>  10.05
</td>
<td class=cellinside> 0.5000
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7417
</td>
<td class=cellinside>1.2867e-03
</td>
<td class=cellinside>  31.15
</td>
<td class=cellinside> 2.1148
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>7.9841e-16
</td>
<td class=cellinside>  61.25
</td>
<td class=cellinside> 2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>1.5439e-04
</td>
<td class=cellinside>  38.25
</td>
<td class=cellinside> 2.3969
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.4963
</td>
<td class=cellinside>3.8978e-03
</td>
<td class=cellinside> 201.70
</td>
<td class=cellinside> 3.0335
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.2929
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  71.95
</td>
<td class=cellinside> 2.5520
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6088
</td>
<td class=cellinside>8.5513e-03
</td>
<td class=cellinside> 124.40
</td>
<td class=cellinside> 2.0449
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0629
</td>
<td class=cellinside>9.7543e-03
</td>
<td class=cellinside> 312.40
</td>
<td class=cellinside> 4.4084
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3566
</td>
<td class=cellinside>3.7802e-03
</td>
<td class=cellinside> 347.85
</td>
<td class=cellinside> 2.9521
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8225
</td>
<td class=cellinside>2.6685e-02
</td>
<td class=cellinside> 826.36
</td>
<td class=cellinside>12.3628
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0700
</td>
<td class=cellinside>2.1681e-02
</td>
<td class=cellinside>1280.25
</td>
<td class=cellinside>15.2484
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5294
</td>
<td class=cellinside>2.4080e-02
</td>
<td class=cellinside>2676.35
</td>
<td class=cellinside>40.7868
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5905
</td>
<td class=cellinside>3.1268e-02
</td>
<td class=cellinside>2482.70
</td>
<td class=cellinside>35.1003
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
