

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>427
</td>
<td class=cellinside> 994
</td>
<td class=cellinside>762.24
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>528
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>823.49
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>597
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>953.71
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>335
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>656.90
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>388
</td>
<td class=cellinside> 972
</td>
<td class=cellinside>753.16
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>332
</td>
<td class=cellinside> 977
</td>
<td class=cellinside>700.46
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>448
</td>
<td class=cellinside> 994
</td>
<td class=cellinside>870.89
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>501
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>835.20
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>536
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>954.27
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>468
</td>
<td class=cellinside> 982
</td>
<td class=cellinside>820.37
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>686
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>927.35
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>500
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>813.82
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>347
</td>
<td class=cellinside> 978
</td>
<td class=cellinside>770.65
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>379
</td>
<td class=cellinside> 981
</td>
<td class=cellinside>719.89
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>191
</td>
<td class=cellinside> 907
</td>
<td class=cellinside>559.83
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>238
</td>
<td class=cellinside> 863
</td>
<td class=cellinside>582.15
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>173
</td>
<td class=cellinside> 914
</td>
<td class=cellinside>450.49
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>152
</td>
<td class=cellinside> 736
</td>
<td class=cellinside>405.95
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
