

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  6
</td>
<td class=cellinside> 917
</td>
<td class=cellinside>282.99
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1828
</td>
<td class=cellinside>1045.2
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 971
</td>
<td class=cellinside>215.23
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1941
</td>
<td class=cellinside>1038.7
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 403
</td>
<td class=cellinside> 46.29
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 996
</td>
<td class=cellinside>462.19
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1954
</td>
<td class=cellinside>1119.1
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 28
</td>
<td class=cellinside> 844
</td>
<td class=cellinside>269.73
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1687
</td>
<td class=cellinside>1022.9
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 23
</td>
<td class=cellinside> 969
</td>
<td class=cellinside>336.67
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1620
</td>
<td class=cellinside>1037.1
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  6
</td>
<td class=cellinside> 597
</td>
<td class=cellinside>131.13
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1170
</td>
<td class=cellinside>1002.0
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 677
</td>
<td class=cellinside>169.79
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1345
</td>
<td class=cellinside>1005.0
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 915
</td>
<td class=cellinside> 75.72
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1820
</td>
<td class=cellinside>1030.0
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 18
</td>
<td class=cellinside> 659
</td>
<td class=cellinside>182.03
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1240
</td>
<td class=cellinside>1002.4
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 314
</td>
<td class=cellinside> 72.65
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 994
</td>
<td class=cellinside>296.46
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1987
</td>
<td class=cellinside>1110.3
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 22
</td>
<td class=cellinside> 996
</td>
<td class=cellinside>274.29
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1937
</td>
<td class=cellinside>1044.9
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 19
</td>
<td class=cellinside> 991
</td>
<td class=cellinside>317.14
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1806
</td>
<td class=cellinside>1037.0
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 93
</td>
<td class=cellinside> 989
</td>
<td class=cellinside>528.54
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1570
</td>
<td class=cellinside>1088.4
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>137
</td>
<td class=cellinside> 997
</td>
<td class=cellinside>455.11
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1709
</td>
<td class=cellinside>1037.3
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 86
</td>
<td class=cellinside> 990
</td>
<td class=cellinside>637.98
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1580
</td>
<td class=cellinside>1088.5
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>264
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>704.88
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1514
</td>
<td class=cellinside>1110.8
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
