

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2825
</td>
<td class=cellinside>0.03654398
</td>
<td class=cellinside>   1.90
</td>
<td class=cellinside>  2.4392
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3315
</td>
<td class=cellinside>0.00275177
</td>
<td class=cellinside>   2.30
</td>
<td class=cellinside>  2.5045
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8158
</td>
<td class=cellinside>0.00346033
</td>
<td class=cellinside>   2.25
</td>
<td class=cellinside>  2.5000
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2242
</td>
<td class=cellinside>0.00351840
</td>
<td class=cellinside>   3.45
</td>
<td class=cellinside>  2.3241
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7640
</td>
<td class=cellinside>0.00604372
</td>
<td class=cellinside>   4.35
</td>
<td class=cellinside>  2.2082
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6801
</td>
<td class=cellinside>0.00927999
</td>
<td class=cellinside>   5.15
</td>
<td class=cellinside>  1.3210
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7412
</td>
<td class=cellinside>0.00505838
</td>
<td class=cellinside>  14.25
</td>
<td class=cellinside>  3.0464
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7050
</td>
<td class=cellinside>0.00162410
</td>
<td class=cellinside>  25.35
</td>
<td class=cellinside>  3.9731
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0899
</td>
<td class=cellinside>0.00058907
</td>
<td class=cellinside>  14.10
</td>
<td class=cellinside>  2.7871
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5031
</td>
<td class=cellinside>0.01369234
</td>
<td class=cellinside>  86.00
</td>
<td class=cellinside> 12.8315
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3114
</td>
<td class=cellinside>0.02184719
</td>
<td class=cellinside>  30.05
</td>
<td class=cellinside>  4.2340
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6048
</td>
<td class=cellinside>0.00913651
</td>
<td class=cellinside>  46.75
</td>
<td class=cellinside>  8.4200
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0630
</td>
<td class=cellinside>0.01168726
</td>
<td class=cellinside> 140.10
</td>
<td class=cellinside> 28.3287
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3563
</td>
<td class=cellinside>0.00439352
</td>
<td class=cellinside> 160.10
</td>
<td class=cellinside> 29.3187
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8146
</td>
<td class=cellinside>0.02470402
</td>
<td class=cellinside> 463.05
</td>
<td class=cellinside> 63.0412
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0543
</td>
<td class=cellinside>0.02464278
</td>
<td class=cellinside> 736.40
</td>
<td class=cellinside> 93.4417
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5126
</td>
<td class=cellinside>0.02669966
</td>
<td class=cellinside>1568.85
</td>
<td class=cellinside>199.4156
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5774
</td>
<td class=cellinside>0.03419526
</td>
<td class=cellinside>1525.76
</td>
<td class=cellinside> 92.6680
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
