

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>186
</td>
<td class=cellinside>400
</td>
<td class=cellinside>341.65
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>250
</td>
<td class=cellinside>400
</td>
<td class=cellinside>375.83
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>220
</td>
<td class=cellinside>400
</td>
<td class=cellinside>379.61
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>149
</td>
<td class=cellinside>400
</td>
<td class=cellinside>318.87
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>193
</td>
<td class=cellinside>400
</td>
<td class=cellinside>344.36
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>187
</td>
<td class=cellinside>400
</td>
<td class=cellinside>321.49
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>177
</td>
<td class=cellinside>400
</td>
<td class=cellinside>372.37
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>252
</td>
<td class=cellinside>400
</td>
<td class=cellinside>374.67
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>258
</td>
<td class=cellinside>400
</td>
<td class=cellinside>392.89
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>201
</td>
<td class=cellinside>400
</td>
<td class=cellinside>329.23
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>201
</td>
<td class=cellinside>400
</td>
<td class=cellinside>344.58
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>185
</td>
<td class=cellinside>400
</td>
<td class=cellinside>382.00
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>146
</td>
<td class=cellinside>400
</td>
<td class=cellinside>337.17
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>148
</td>
<td class=cellinside>400
</td>
<td class=cellinside>314.36
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 97
</td>
<td class=cellinside>386
</td>
<td class=cellinside>216.84
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 72
</td>
<td class=cellinside>400
</td>
<td class=cellinside>221.52
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 54
</td>
<td class=cellinside>388
</td>
<td class=cellinside>186.69
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 51
</td>
<td class=cellinside>310
</td>
<td class=cellinside>155.43
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
