

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1995.0
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1990.8
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1881.8
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1943.9
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1995.0
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>1144
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1819.8
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1985.2
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1992.8
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>1649
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1994.2
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1591.4
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>1224
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1542.1
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1964.3
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>1184
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1856.1
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>1289
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1954.0
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>1061
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1708.4
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>1500
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1956.2
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>1066
</td>
<td class=cellinside>2500
</td>
<td class=cellinside>1634.9
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>1022
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1635.0
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
