

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>1203
</td>
<td class=cellinside> 268.21
</td>
<td class=cellinside>2009
</td>
<td class=cellinside>3203
</td>
<td class=cellinside>2263.2
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  3
</td>
<td class=cellinside>1585
</td>
<td class=cellinside> 268.04
</td>
<td class=cellinside>2003
</td>
<td class=cellinside>3085
</td>
<td class=cellinside>2258.0
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>2337
</td>
<td class=cellinside> 481.66
</td>
<td class=cellinside>2002
</td>
<td class=cellinside>3837
</td>
<td class=cellinside>2341.7
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 11
</td>
<td class=cellinside>2506
</td>
<td class=cellinside> 805.80
</td>
<td class=cellinside>2011
</td>
<td class=cellinside>4006
</td>
<td class=cellinside>2745.8
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 10
</td>
<td class=cellinside>1244
</td>
<td class=cellinside> 247.08
</td>
<td class=cellinside>2010
</td>
<td class=cellinside>3222
</td>
<td class=cellinside>2242.1
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 25
</td>
<td class=cellinside>4127
</td>
<td class=cellinside> 984.95
</td>
<td class=cellinside>2025
</td>
<td class=cellinside>5627
</td>
<td class=cellinside>2769.9
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  4
</td>
<td class=cellinside>2178
</td>
<td class=cellinside> 219.80
</td>
<td class=cellinside>2004
</td>
<td class=cellinside>3678
</td>
<td class=cellinside>2194.8
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1820
</td>
<td class=cellinside> 160.31
</td>
<td class=cellinside>2001
</td>
<td class=cellinside>3320
</td>
<td class=cellinside>2150.3
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1775
</td>
<td class=cellinside> 103.03
</td>
<td class=cellinside>2001
</td>
<td class=cellinside>3275
</td>
<td class=cellinside>2093.0
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 32
</td>
<td class=cellinside>2666
</td>
<td class=cellinside>1485.46
</td>
<td class=cellinside>2032
</td>
<td class=cellinside>4166
</td>
<td class=cellinside>3050.5
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside> 30
</td>
<td class=cellinside>2972
</td>
<td class=cellinside>1529.14
</td>
<td class=cellinside>2030
</td>
<td class=cellinside>4037
</td>
<td class=cellinside>3034.1
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1847
</td>
<td class=cellinside> 458.56
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3347
</td>
<td class=cellinside>2418.6
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 24
</td>
<td class=cellinside>4074
</td>
<td class=cellinside> 866.13
</td>
<td class=cellinside>2024
</td>
<td class=cellinside>5074
</td>
<td class=cellinside>2681.1
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 23
</td>
<td class=cellinside>2621
</td>
<td class=cellinside> 564.72
</td>
<td class=cellinside>2023
</td>
<td class=cellinside>3621
</td>
<td class=cellinside>2514.7
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 89
</td>
<td class=cellinside>4871
</td>
<td class=cellinside>1891.09
</td>
<td class=cellinside>2089
</td>
<td class=cellinside>6371
</td>
<td class=cellinside>3526.1
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>129
</td>
<td class=cellinside>2408
</td>
<td class=cellinside> 652.87
</td>
<td class=cellinside>2129
</td>
<td class=cellinside>3908
</td>
<td class=cellinside>2592.9
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>234
</td>
<td class=cellinside>8283
</td>
<td class=cellinside>2651.70
</td>
<td class=cellinside> 783
</td>
<td class=cellinside>7343
</td>
<td class=cellinside>4111.7
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>361
</td>
<td class=cellinside>5644
</td>
<td class=cellinside>2745.01
</td>
<td class=cellinside>2361
</td>
<td class=cellinside>7135
</td>
<td class=cellinside>4290.0
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
