

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2782
</td>
<td class=cellinside>3.7131e-02
</td>
<td class=cellinside>   8.50
</td>
<td class=cellinside>   2.4100
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3323
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  11.30
</td>
<td class=cellinside>   2.3160
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8171
</td>
<td class=cellinside>1.2828e-03
</td>
<td class=cellinside>  10.55
</td>
<td class=cellinside>   2.9211
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2259
</td>
<td class=cellinside>1.6297e-03
</td>
<td class=cellinside>  17.20
</td>
<td class=cellinside>   3.2035
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7663
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  16.90
</td>
<td class=cellinside>   2.6381
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6815
</td>
<td class=cellinside>4.6869e-03
</td>
<td class=cellinside>  25.60
</td>
<td class=cellinside>   6.5242
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>1.2109e-15
</td>
<td class=cellinside>  55.45
</td>
<td class=cellinside>   8.2295
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>9.4470e-16
</td>
<td class=cellinside>  96.50
</td>
<td class=cellinside>  10.4083
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>2.0341e-04
</td>
<td class=cellinside>  60.80
</td>
<td class=cellinside>   7.7107
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5156
</td>
<td class=cellinside>1.2014e-02
</td>
<td class=cellinside> 399.25
</td>
<td class=cellinside>  53.0217
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3352
</td>
<td class=cellinside>8.6758e-03
</td>
<td class=cellinside> 157.10
</td>
<td class=cellinside>  16.0047
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6113
</td>
<td class=cellinside>7.0428e-03
</td>
<td class=cellinside> 214.30
</td>
<td class=cellinside>  37.3424
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0667
</td>
<td class=cellinside>1.1143e-02
</td>
<td class=cellinside> 535.85
</td>
<td class=cellinside> 149.6968
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3573
</td>
<td class=cellinside>1.9694e-06
</td>
<td class=cellinside> 591.80
</td>
<td class=cellinside> 113.3835
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8316
</td>
<td class=cellinside>2.2729e-02
</td>
<td class=cellinside>1899.00
</td>
<td class=cellinside> 549.9408
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0710
</td>
<td class=cellinside>2.2790e-02
</td>
<td class=cellinside>2098.41
</td>
<td class=cellinside> 407.2682
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5495
</td>
<td class=cellinside>2.4140e-02
</td>
<td class=cellinside>7108.21
</td>
<td class=cellinside>2156.6987
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6407
</td>
<td class=cellinside>3.8082e-02
</td>
<td class=cellinside>6517.01
</td>
<td class=cellinside>1787.5432
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
