

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 17
</td>
<td class=cellinside>457
</td>
<td class=cellinside>170.93
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>494
</td>
<td class=cellinside>150.57
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>491
</td>
<td class=cellinside> 69.09
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>497
</td>
<td class=cellinside>229.47
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>490
</td>
<td class=cellinside>176.52
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 14
</td>
<td class=cellinside>499
</td>
<td class=cellinside>233.40
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside> 14
</td>
<td class=cellinside>335
</td>
<td class=cellinside> 95.99
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>482
</td>
<td class=cellinside>115.81
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>451
</td>
<td class=cellinside> 47.09
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 62
</td>
<td class=cellinside>500
</td>
<td class=cellinside>269.94
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside> 17
</td>
<td class=cellinside>499
</td>
<td class=cellinside>264.79
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>462
</td>
<td class=cellinside>103.00
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 32
</td>
<td class=cellinside>498
</td>
<td class=cellinside>255.73
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 26
</td>
<td class=cellinside>488
</td>
<td class=cellinside>256.00
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 97
</td>
<td class=cellinside>499
</td>
<td class=cellinside>396.76
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>148
</td>
<td class=cellinside>500
</td>
<td class=cellinside>418.53
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 88
</td>
<td class=cellinside>500
</td>
<td class=cellinside>434.88
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>239
</td>
<td class=cellinside>500
</td>
<td class=cellinside>448.11
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
