

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.3021
</td>
<td class=cellinside>2.7572e-02
</td>
<td class=cellinside>  3.10
</td>
<td class=cellinside>3.0797
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3355
</td>
<td class=cellinside>7.6760e-03
</td>
<td class=cellinside>  2.95
</td>
<td class=cellinside>2.4716
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8170
</td>
<td class=cellinside>1.7955e-03
</td>
<td class=cellinside>  3.35
</td>
<td class=cellinside>2.3629
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2264
</td>
<td class=cellinside>8.8937e-03
</td>
<td class=cellinside>  4.50
</td>
<td class=cellinside>1.5076
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7655
</td>
<td class=cellinside>3.8288e-03
</td>
<td class=cellinside>  4.95
</td>
<td class=cellinside>1.9456
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6848
</td>
<td class=cellinside>8.9528e-03
</td>
<td class=cellinside>  5.85
</td>
<td class=cellinside>1.8876
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>1.0562e-15
</td>
<td class=cellinside> 11.85
</td>
<td class=cellinside>2.4262
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7053
</td>
<td class=cellinside>8.2464e-04
</td>
<td class=cellinside> 17.70
</td>
<td class=cellinside>2.9661
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>2.3214e-04
</td>
<td class=cellinside> 12.30
</td>
<td class=cellinside>2.5045
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5093
</td>
<td class=cellinside>1.6295e-02
</td>
<td class=cellinside> 34.45
</td>
<td class=cellinside>4.1375
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3306
</td>
<td class=cellinside>1.4785e-02
</td>
<td class=cellinside> 21.20
</td>
<td class=cellinside>2.6705
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6031
</td>
<td class=cellinside>8.8507e-03
</td>
<td class=cellinside> 26.45
</td>
<td class=cellinside>3.3556
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0656
</td>
<td class=cellinside>1.1007e-02
</td>
<td class=cellinside> 46.20
</td>
<td class=cellinside>3.4902
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3567
</td>
<td class=cellinside>3.1515e-03
</td>
<td class=cellinside> 46.85
</td>
<td class=cellinside>3.8042
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8022
</td>
<td class=cellinside>2.6325e-02
</td>
<td class=cellinside> 80.15
</td>
<td class=cellinside>6.2545
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>28.9764
</td>
<td class=cellinside>3.9597e-02
</td>
<td class=cellinside>103.90
</td>
<td class=cellinside>4.4710
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.4527
</td>
<td class=cellinside>3.5943e-02
</td>
<td class=cellinside>163.35
</td>
<td class=cellinside>6.1157
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.4559
</td>
<td class=cellinside>5.6050e-02
</td>
<td class=cellinside>152.20
</td>
<td class=cellinside>4.4563
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
