

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>171
</td>
<td class=cellinside>483
</td>
<td class=cellinside>356.87
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>185
</td>
<td class=cellinside>500
</td>
<td class=cellinside>395.48
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>237
</td>
<td class=cellinside>498
</td>
<td class=cellinside>445.99
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>147
</td>
<td class=cellinside>499
</td>
<td class=cellinside>339.36
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>180
</td>
<td class=cellinside>499
</td>
<td class=cellinside>363.67
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>141
</td>
<td class=cellinside>486
</td>
<td class=cellinside>326.54
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>165
</td>
<td class=cellinside>486
</td>
<td class=cellinside>405.03
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>250
</td>
<td class=cellinside>500
</td>
<td class=cellinside>404.96
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>274
</td>
<td class=cellinside>499
</td>
<td class=cellinside>466.37
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>129
</td>
<td class=cellinside>438
</td>
<td class=cellinside>292.00
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>136
</td>
<td class=cellinside>483
</td>
<td class=cellinside>309.33
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>175
</td>
<td class=cellinside>500
</td>
<td class=cellinside>433.47
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>111
</td>
<td class=cellinside>468
</td>
<td class=cellinside>288.09
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>117
</td>
<td class=cellinside>474
</td>
<td class=cellinside>286.65
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 49
</td>
<td class=cellinside>403
</td>
<td class=cellinside>151.44
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 75
</td>
<td class=cellinside>352
</td>
<td class=cellinside>162.17
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 61
</td>
<td class=cellinside>412
</td>
<td class=cellinside>136.20
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 58
</td>
<td class=cellinside>261
</td>
<td class=cellinside>112.41
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
