

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 10
</td>
<td class=cellinside>1094
</td>
<td class=cellinside> 274.67
</td>
<td class=cellinside>2010
</td>
<td class=cellinside>3094
</td>
<td class=cellinside>2274.7
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  4
</td>
<td class=cellinside>1585
</td>
<td class=cellinside> 243.65
</td>
<td class=cellinside>2004
</td>
<td class=cellinside>3585
</td>
<td class=cellinside>2243.7
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>2345
</td>
<td class=cellinside> 369.54
</td>
<td class=cellinside>2002
</td>
<td class=cellinside>4345
</td>
<td class=cellinside>2369.5
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  5
</td>
<td class=cellinside>2506
</td>
<td class=cellinside> 774.47
</td>
<td class=cellinside>2005
</td>
<td class=cellinside>4506
</td>
<td class=cellinside>2774.5
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 10
</td>
<td class=cellinside>1244
</td>
<td class=cellinside> 242.08
</td>
<td class=cellinside>2010
</td>
<td class=cellinside>3244
</td>
<td class=cellinside>2242.1
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 38
</td>
<td class=cellinside>3477
</td>
<td class=cellinside>1116.90
</td>
<td class=cellinside>2038
</td>
<td class=cellinside>5477
</td>
<td class=cellinside>3116.9
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  8
</td>
<td class=cellinside>2014
</td>
<td class=cellinside> 162.30
</td>
<td class=cellinside>2008
</td>
<td class=cellinside>4014
</td>
<td class=cellinside>2162.3
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>2265
</td>
<td class=cellinside> 200.09
</td>
<td class=cellinside>2002
</td>
<td class=cellinside>4265
</td>
<td class=cellinside>2200.1
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>2007
</td>
<td class=cellinside> 145.67
</td>
<td class=cellinside>2001
</td>
<td class=cellinside>4007
</td>
<td class=cellinside>2145.7
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>222
</td>
<td class=cellinside>2566
</td>
<td class=cellinside>1544.26
</td>
<td class=cellinside>2222
</td>
<td class=cellinside>4566
</td>
<td class=cellinside>3544.3
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>3030
</td>
<td class=cellinside>1577.50
</td>
<td class=cellinside>2009
</td>
<td class=cellinside>5030
</td>
<td class=cellinside>3577.5
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>2341
</td>
<td class=cellinside> 518.46
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4341
</td>
<td class=cellinside>2518.5
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 31
</td>
<td class=cellinside>5558
</td>
<td class=cellinside> 883.40
</td>
<td class=cellinside>2031
</td>
<td class=cellinside>7558
</td>
<td class=cellinside>2883.4
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 15
</td>
<td class=cellinside>1964
</td>
<td class=cellinside> 586.72
</td>
<td class=cellinside>2015
</td>
<td class=cellinside>3964
</td>
<td class=cellinside>2586.7
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>196
</td>
<td class=cellinside>5339
</td>
<td class=cellinside>2309.36
</td>
<td class=cellinside>2196
</td>
<td class=cellinside>7339
</td>
<td class=cellinside>4309.4
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>111
</td>
<td class=cellinside>3033
</td>
<td class=cellinside> 690.95
</td>
<td class=cellinside>2111
</td>
<td class=cellinside>5033
</td>
<td class=cellinside>2690.9
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>207
</td>
<td class=cellinside>7353
</td>
<td class=cellinside>3107.91
</td>
<td class=cellinside>2207
</td>
<td class=cellinside>9353
</td>
<td class=cellinside>5107.9
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>301
</td>
<td class=cellinside>7489
</td>
<td class=cellinside>2884.69
</td>
<td class=cellinside>2301
</td>
<td class=cellinside>9489
</td>
<td class=cellinside>4884.7
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
