

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2856
</td>
<td class=cellinside>3.6229e-02
</td>
<td class=cellinside>   8.45
</td>
<td class=cellinside>   2.7243
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3323
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  11.05
</td>
<td class=cellinside>   2.0468
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8171
</td>
<td class=cellinside>1.5630e-03
</td>
<td class=cellinside>  10.80
</td>
<td class=cellinside>   3.4612
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2261
</td>
<td class=cellinside>9.9268e-04
</td>
<td class=cellinside>  17.40
</td>
<td class=cellinside>   4.1121
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7663
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  17.35
</td>
<td class=cellinside>   3.5144
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6828
</td>
<td class=cellinside>6.4732e-03
</td>
<td class=cellinside>  29.15
</td>
<td class=cellinside>   8.3803
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7414
</td>
<td class=cellinside>4.8510e-03
</td>
<td class=cellinside>  55.20
</td>
<td class=cellinside>   8.7882
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>9.7785e-16
</td>
<td class=cellinside>  98.65
</td>
<td class=cellinside>  16.8153
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>1.8605e-04
</td>
<td class=cellinside>  63.75
</td>
<td class=cellinside>  11.8145
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5200
</td>
<td class=cellinside>6.2888e-03
</td>
<td class=cellinside> 501.15
</td>
<td class=cellinside>  46.7632
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3358
</td>
<td class=cellinside>7.0138e-03
</td>
<td class=cellinside> 191.60
</td>
<td class=cellinside>  17.7508
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6122
</td>
<td class=cellinside>6.1650e-03
</td>
<td class=cellinside> 222.45
</td>
<td class=cellinside>  47.9293
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0666
</td>
<td class=cellinside>1.1953e-02
</td>
<td class=cellinside> 581.35
</td>
<td class=cellinside> 253.7804
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3572
</td>
<td class=cellinside>1.3725e-03
</td>
<td class=cellinside> 608.35
</td>
<td class=cellinside> 149.3911
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8283
</td>
<td class=cellinside>2.4176e-02
</td>
<td class=cellinside>2331.36
</td>
<td class=cellinside> 656.6234
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0720
</td>
<td class=cellinside>2.1664e-02
</td>
<td class=cellinside>2255.50
</td>
<td class=cellinside> 572.2261
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5554
</td>
<td class=cellinside>2.0385e-02
</td>
<td class=cellinside>8736.41
</td>
<td class=cellinside>2451.1835
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6458
</td>
<td class=cellinside>3.7767e-02
</td>
<td class=cellinside>7570.66
</td>
<td class=cellinside>2196.2844
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
