

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>FIXED_PARAM  </th>
		<th>PARAM_VALUE  </th>
		<th>WIN  </th>
		<th>TIME_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.15
</td>
<td class=cellinside>14646
</td>
<td class=cellinside> 439.678
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.1
</td>
<td class=cellinside>14163
</td>
<td class=cellinside> 213.528
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.2
</td>
<td class=cellinside>13470
</td>
<td class=cellinside> 753.280
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.25
</td>
<td class=cellinside>11914
</td>
<td class=cellinside>1153.662
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.3
</td>
<td class=cellinside>10772
</td>
<td class=cellinside>1625.050
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.35
</td>
<td class=cellinside> 9892
</td>
<td class=cellinside>2205.744
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.4
</td>
<td class=cellinside> 8530
</td>
<td class=cellinside>2854.156
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.45
</td>
<td class=cellinside> 7449
</td>
<td class=cellinside>3498.849
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.5
</td>
<td class=cellinside> 6297
</td>
<td class=cellinside>4169.703
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>DESTRUCTION_FACTOR
</td>
<td class=cellinside>0.05
</td>
<td class=cellinside> 5787
</td>
<td class=cellinside>  63.866
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
