

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>1050
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1990.5
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>1279
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1988.6
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>1024
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1857.0
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>1095
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1941.7
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1990.0
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>1002
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1726.3
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>1052
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1984.3
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>1070
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1990.7
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>1072
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1983.9
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>1001
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1360.2
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1322.0
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>1016
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1905.1
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>1003
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1862.5
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>1051
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1945.1
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1606.7
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>1034
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1907.2
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1391.7
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>1011
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>1544.0
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
