

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2797
</td>
<td class=cellinside>3.7072e-02
</td>
<td class=cellinside>   8.55
</td>
<td class=cellinside>   2.2802
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3323
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  10.50
</td>
<td class=cellinside>   1.6667
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8171
</td>
<td class=cellinside>1.5630e-03
</td>
<td class=cellinside>   9.85
</td>
<td class=cellinside>   2.5081
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2261
</td>
<td class=cellinside>8.7736e-04
</td>
<td class=cellinside>  16.40
</td>
<td class=cellinside>   3.1846
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7663
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>  16.60
</td>
<td class=cellinside>   2.6477
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6817
</td>
<td class=cellinside>5.2158e-03
</td>
<td class=cellinside>  23.05
</td>
<td class=cellinside>   3.8201
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>1.1842e-15
</td>
<td class=cellinside>  53.40
</td>
<td class=cellinside>   4.6537
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>9.4470e-16
</td>
<td class=cellinside>  94.95
</td>
<td class=cellinside>   8.3936
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>1.9503e-04
</td>
<td class=cellinside>  60.45
</td>
<td class=cellinside>   6.7456
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5171
</td>
<td class=cellinside>1.1341e-02
</td>
<td class=cellinside> 310.65
</td>
<td class=cellinside>  37.5019
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3344
</td>
<td class=cellinside>9.9072e-03
</td>
<td class=cellinside> 119.70
</td>
<td class=cellinside>  11.7383
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6113
</td>
<td class=cellinside>7.0428e-03
</td>
<td class=cellinside> 201.45
</td>
<td class=cellinside>  35.8116
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0671
</td>
<td class=cellinside>1.1597e-02
</td>
<td class=cellinside> 489.10
</td>
<td class=cellinside> 112.6682
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3573
</td>
<td class=cellinside>2.4738e-15
</td>
<td class=cellinside> 582.25
</td>
<td class=cellinside> 124.8036
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8310
</td>
<td class=cellinside>2.1877e-02
</td>
<td class=cellinside>1563.01
</td>
<td class=cellinside> 408.5212
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0719
</td>
<td class=cellinside>2.1361e-02
</td>
<td class=cellinside>2066.55
</td>
<td class=cellinside> 360.6999
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5504
</td>
<td class=cellinside>1.7325e-02
</td>
<td class=cellinside>5834.51
</td>
<td class=cellinside>1582.9670
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6433
</td>
<td class=cellinside>4.0680e-02
</td>
<td class=cellinside>5499.25
</td>
<td class=cellinside>1704.6288
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
