

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>1203
</td>
<td class=cellinside> 273.21
</td>
<td class=cellinside>2009
</td>
<td class=cellinside>3203
</td>
<td class=cellinside>2263.2
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  3
</td>
<td class=cellinside>1585
</td>
<td class=cellinside> 267.49
</td>
<td class=cellinside>2003
</td>
<td class=cellinside>2924
</td>
<td class=cellinside>2247.5
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 388.69
</td>
<td class=cellinside>2002
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2158.7
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 11
</td>
<td class=cellinside>2506
</td>
<td class=cellinside> 732.54
</td>
<td class=cellinside>2011
</td>
<td class=cellinside>3640
</td>
<td class=cellinside>2652.5
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 10
</td>
<td class=cellinside>1244
</td>
<td class=cellinside> 252.08
</td>
<td class=cellinside>2010
</td>
<td class=cellinside>3222
</td>
<td class=cellinside>2242.1
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 13
</td>
<td class=cellinside>2904
</td>
<td class=cellinside> 940.68
</td>
<td class=cellinside>2013
</td>
<td class=cellinside>3904
</td>
<td class=cellinside>2520.7
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  8
</td>
<td class=cellinside>2014
</td>
<td class=cellinside> 147.86
</td>
<td class=cellinside>2008
</td>
<td class=cellinside>3014
</td>
<td class=cellinside>2127.9
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>1105
</td>
<td class=cellinside> 152.77
</td>
<td class=cellinside>2002
</td>
<td class=cellinside>2607
</td>
<td class=cellinside>2142.8
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1848
</td>
<td class=cellinside> 124.94
</td>
<td class=cellinside>2001
</td>
<td class=cellinside>2965
</td>
<td class=cellinside>2084.9
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 64
</td>
<td class=cellinside>2715
</td>
<td class=cellinside>1440.93
</td>
<td class=cellinside>2064
</td>
<td class=cellinside>3715
</td>
<td class=cellinside>2570.9
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>2653
</td>
<td class=cellinside>1501.13
</td>
<td class=cellinside>2009
</td>
<td class=cellinside>3653
</td>
<td class=cellinside>2551.1
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1902
</td>
<td class=cellinside> 521.06
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3054
</td>
<td class=cellinside>2361.1
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 17
</td>
<td class=cellinside>3475
</td>
<td class=cellinside> 833.74
</td>
<td class=cellinside>2017
</td>
<td class=cellinside>4475
</td>
<td class=cellinside>2573.7
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 17
</td>
<td class=cellinside>2230
</td>
<td class=cellinside> 610.12
</td>
<td class=cellinside>2017
</td>
<td class=cellinside>3643
</td>
<td class=cellinside>2510.1
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>120
</td>
<td class=cellinside>3800
</td>
<td class=cellinside>1526.69
</td>
<td class=cellinside>2120
</td>
<td class=cellinside>4800
</td>
<td class=cellinside>2986.7
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 97
</td>
<td class=cellinside>2543
</td>
<td class=cellinside> 725.57
</td>
<td class=cellinside>2097
</td>
<td class=cellinside>3543
</td>
<td class=cellinside>2575.6
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>361
</td>
<td class=cellinside>4896
</td>
<td class=cellinside>2538.14
</td>
<td class=cellinside>2361
</td>
<td class=cellinside>5896
</td>
<td class=cellinside>3688.1
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>310
</td>
<td class=cellinside>5203
</td>
<td class=cellinside>2516.80
</td>
<td class=cellinside>2310
</td>
<td class=cellinside>6203
</td>
<td class=cellinside>3786.8
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
