

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2724
</td>
<td class=cellinside>0.03737446
</td>
<td class=cellinside>   1.20
</td>
<td class=cellinside>  2.1462
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3305
</td>
<td class=cellinside>0.00304009
</td>
<td class=cellinside>   1.25
</td>
<td class=cellinside>  2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8143
</td>
<td class=cellinside>0.00644452
</td>
<td class=cellinside>   1.25
</td>
<td class=cellinside>  2.1760
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2215
</td>
<td class=cellinside>0.00405821
</td>
<td class=cellinside>   1.95
</td>
<td class=cellinside>  2.4510
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7592
</td>
<td class=cellinside>0.00896178
</td>
<td class=cellinside>   2.80
</td>
<td class=cellinside>  3.6459
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6740
</td>
<td class=cellinside>0.01295363
</td>
<td class=cellinside>   4.45
</td>
<td class=cellinside>  3.1699
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7391
</td>
<td class=cellinside>0.01336659
</td>
<td class=cellinside>   9.10
</td>
<td class=cellinside>  3.0468
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7032
</td>
<td class=cellinside>0.00363539
</td>
<td class=cellinside>  14.45
</td>
<td class=cellinside>  3.8857
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00022558
</td>
<td class=cellinside>   7.10
</td>
<td class=cellinside>  2.6761
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.4984
</td>
<td class=cellinside>0.01553480
</td>
<td class=cellinside>  61.40
</td>
<td class=cellinside> 16.6072
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3075
</td>
<td class=cellinside>0.02081804
</td>
<td class=cellinside>  21.85
</td>
<td class=cellinside>  8.6356
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.5997
</td>
<td class=cellinside>0.00704284
</td>
<td class=cellinside>  23.05
</td>
<td class=cellinside>  5.6807
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0618
</td>
<td class=cellinside>0.01156478
</td>
<td class=cellinside>  89.20
</td>
<td class=cellinside> 24.6564
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3532
</td>
<td class=cellinside>0.01122217
</td>
<td class=cellinside>  94.40
</td>
<td class=cellinside> 29.9181
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8126
</td>
<td class=cellinside>0.02972672
</td>
<td class=cellinside> 337.65
</td>
<td class=cellinside> 64.0803
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0434
</td>
<td class=cellinside>0.03370624
</td>
<td class=cellinside> 518.85
</td>
<td class=cellinside>120.0649
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5022
</td>
<td class=cellinside>0.03282956
</td>
<td class=cellinside>1139.75
</td>
<td class=cellinside>291.2056
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5650
</td>
<td class=cellinside>0.04058532
</td>
<td class=cellinside>1227.75
</td>
<td class=cellinside>237.9737
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
