

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 1
</td>
<td class=cellinside>374
</td>
<td class=cellinside>109.43
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 0
</td>
<td class=cellinside>199
</td>
<td class=cellinside> 40.69
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 1
</td>
<td class=cellinside>302
</td>
<td class=cellinside> 50.75
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 1
</td>
<td class=cellinside>357
</td>
<td class=cellinside> 87.65
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 0
</td>
<td class=cellinside>370
</td>
<td class=cellinside> 91.15
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 8
</td>
<td class=cellinside>432
</td>
<td class=cellinside>137.20
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside> 4
</td>
<td class=cellinside>414
</td>
<td class=cellinside> 90.24
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside> 0
</td>
<td class=cellinside>262
</td>
<td class=cellinside> 58.81
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside> 1
</td>
<td class=cellinside>195
</td>
<td class=cellinside> 16.04
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>16
</td>
<td class=cellinside>475
</td>
<td class=cellinside>155.40
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside> 1
</td>
<td class=cellinside>450
</td>
<td class=cellinside>117.24
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside> 0
</td>
<td class=cellinside>187
</td>
<td class=cellinside> 26.58
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>25
</td>
<td class=cellinside>417
</td>
<td class=cellinside>125.94
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 6
</td>
<td class=cellinside>399
</td>
<td class=cellinside>128.13
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>49
</td>
<td class=cellinside>495
</td>
<td class=cellinside>301.87
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>47
</td>
<td class=cellinside>490
</td>
<td class=cellinside>257.89
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>75
</td>
<td class=cellinside>500
</td>
<td class=cellinside>311.05
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>90
</td>
<td class=cellinside>498
</td>
<td class=cellinside>336.61
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
