

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>108
</td>
<td class=cellinside>squid
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>106
</td>
<td class=cellinside>small
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>compiler
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>96
</td>
<td class=cellinside>random
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>98
</td>
<td class=cellinside>regexp
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>58
</td>
<td class=cellinside>jstl
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>66
</td>
<td class=cellinside>lab4
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>84
</td>
<td class=cellinside>netkit-ping
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>89
</td>
<td class=cellinside>nss_ldap
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>87
</td>
<td class=cellinside>nos
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>69
</td>
<td class=cellinside>lslayout
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>boxer
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>85
</td>
<td class=cellinside>netkit-tftpd
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>103
</td>
<td class=cellinside>sharutils
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>78
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>107
</td>
<td class=cellinside>spdb
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>122
</td>
<td class=cellinside>xtell
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>bunch
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>40
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>83
</td>
<td class=cellinside>netkit-inetd
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>79
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>ciald
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>54
</td>
<td class=cellinside>joe
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>77
</td>
<td class=cellinside>Modulizer
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>bootp
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>64
</td>
<td class=cellinside>jxlsreader
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>112
</td>
<td class=cellinside>sysklogd-1
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>114
</td>
<td class=cellinside>telnetd
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>19
</td>
<td class=cellinside>crond
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>82
</td>
<td class=cellinside>netkit-ftp
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>97
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>101
</td>
<td class=cellinside>seemp
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>22
</td>
<td class=cellinside>dhcpd-2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>20
</td>
<td class=cellinside>cyrus-sasl
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>113
</td>
<td class=cellinside>tcsh
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>74
</td>
<td class=cellinside>micq
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>109
</td>
<td class=cellinside>star
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>cia
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>110
</td>
<td class=cellinside>stunnel
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>75
</td>
<td class=cellinside>minicom
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>73
</td>
<td class=cellinside>mailx
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>24
</td>
<td class=cellinside>dot
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2010
</td></tr>
 
<tr> 
<td class=firstcolumn>100
</td>
<td class=cellinside>screen
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>104
</td>
<td class=cellinside>slang
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>105
</td>
<td class=cellinside>slrn
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>81
</td>
<td class=cellinside>net-tools
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>33
</td>
<td class=cellinside>graph10up49
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>6000
</td>
<td class=cellinside>2090
</td></tr>
 
<tr> 
<td class=firstcolumn>117
</td>
<td class=cellinside>wu-ftpd-1
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>53
</td>
<td class=cellinside>jodamoney
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>35
</td>
<td class=cellinside>hw
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>37
</td>
<td class=cellinside>imapd-1
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>118
</td>
<td class=cellinside>wu-ftpd-3
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>116
</td>
<td class=cellinside>udt-java
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>45
</td>
<td class=cellinside>javaocr
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>21
</td>
<td class=cellinside>dhcpd-1
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>36
</td>
<td class=cellinside>icecast
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>91
</td>
<td class=cellinside>pfcda_base
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>102
</td>
<td class=cellinside>servletapi
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>93
</td>
<td class=cellinside>php
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>bunch2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2010
</td></tr>
 
<tr> 
<td class=firstcolumn>29
</td>
<td class=cellinside>forms
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>57
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>63
</td>
<td class=cellinside>jxlscore
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2010
</td></tr>
 
<tr> 
<td class=firstcolumn>27
</td>
<td class=cellinside>elm-2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>49
</td>
<td class=cellinside>jfluid
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>34
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>26
</td>
<td class=cellinside>elm-1
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>31
</td>
<td class=cellinside>gnupg
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>39
</td>
<td class=cellinside>inn
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>bash
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>55
</td>
<td class=cellinside>jpassword
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2010
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>bitchx
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>62
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>121
</td>
<td class=cellinside>xntp
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>acqCIGNA
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>bunch_2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>28
</td>
<td class=cellinside>exim
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>120
</td>
<td class=cellinside>xmldom
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>cia++
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>115
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>76
</td>
<td class=cellinside>mod_ssl
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>50
</td>
<td class=cellinside>jkaryoscope
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>80
</td>
<td class=cellinside>ncurses
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>30
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>72
</td>
<td class=cellinside>lynx
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>5000
</td>
<td class=cellinside>2110
</td></tr>
 
<tr> 
<td class=firstcolumn>43
</td>
<td class=cellinside>javacc
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>5000
</td>
<td class=cellinside>2070
</td></tr>
 
<tr> 
<td class=firstcolumn>70
</td>
<td class=cellinside>lucent
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>44
</td>
<td class=cellinside>JavaGeom
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>38
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>48
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>119
</td>
<td class=cellinside>xmlapi
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>51
</td>
<td class=cellinside>jmetal
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>6000
</td>
<td class=cellinside>2140
</td></tr>
 
<tr> 
<td class=firstcolumn>32
</td>
<td class=cellinside>graph10up193
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>7000
</td>
<td class=cellinside>2230
</td></tr>
 
<tr> 
<td class=firstcolumn>23
</td>
<td class=cellinside>dom4j
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2080
</td></tr>
 
<tr> 
<td class=firstcolumn>86
</td>
<td class=cellinside>nmh
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>90
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>60
</td>
<td class=cellinside>Jung_graph_model
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2030
</td></tr>
 
<tr> 
<td class=firstcolumn>61
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>47
</td>
<td class=cellinside>jconsole
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>92
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>52
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2070
</td></tr>
 
<tr> 
<td class=firstcolumn>56
</td>
<td class=cellinside>jpassword2
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>88
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2050
</td></tr>
 
<tr> 
<td class=firstcolumn>95
</td>
<td class=cellinside>Poormans CMS
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>6000
</td>
<td class=cellinside>2300
</td></tr>
 
<tr> 
<td class=firstcolumn>68
</td>
<td class=cellinside>log4j
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>6000
</td>
<td class=cellinside>2130
</td></tr>
 
<tr> 
<td class=firstcolumn>59
</td>
<td class=cellinside>jtreeview
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2030
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>bunchall
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>5000
</td>
<td class=cellinside>2140
</td></tr>
 
<tr> 
<td class=firstcolumn>42
</td>
<td class=cellinside>JACE
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>46
</td>
<td class=cellinside>javaws
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>111
</td>
<td class=cellinside>swing
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>5000
</td>
<td class=cellinside>2050
</td></tr>
 
<tr> 
<td class=firstcolumn>71
</td>
<td class=cellinside>lwjgl-2.8.4
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>5000
</td>
<td class=cellinside>2110
</td></tr>
 
<tr> 
<td class=firstcolumn>99
</td>
<td class=cellinside>res_cobol
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2100
</td></tr>
 
<tr> 
<td class=firstcolumn>94
</td>
<td class=cellinside>ping_libc
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2030
</td></tr>
 
<tr> 
<td class=firstcolumn>123
</td>
<td class=cellinside>y_base
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>7000
</td>
<td class=cellinside>2260
</td></tr>
 
<tr> 
<td class=firstcolumn>65
</td>
<td class=cellinside>krb5
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>2000
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>apache_ant_taskdef
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>41
</td>
<td class=cellinside>itextpdf
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>3000
</td>
<td class=cellinside>2010
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>apache_lucene_core
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>6000
</td>
<td class=cellinside>2160
</td></tr>
 
<tr> 
<td class=firstcolumn>25
</td>
<td class=cellinside>eclipse_jgit
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>67
</td>
<td class=cellinside>linux
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2020
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>apache_ant
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2060
</td></tr>
 
<tr> 
<td class=firstcolumn>124
</td>
<td class=cellinside>ylayout
</td>
<td class=cellinside>2000
</td>
<td class=cellinside>4000
</td>
<td class=cellinside>2030
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
