

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>108
</td>
<td class=cellinside>squid
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>106
</td>
<td class=cellinside>small
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>compiler
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>96
</td>
<td class=cellinside>random
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>98
</td>
<td class=cellinside>regexp
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>58
</td>
<td class=cellinside>jstl
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>66
</td>
<td class=cellinside>lab4
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   87
</td>
<td class=cellinside>  23.21
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2087
</td>
<td class=cellinside>2023.2
</td></tr>
 
<tr> 
<td class=firstcolumn>84
</td>
<td class=cellinside>netkit-ping
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>89
</td>
<td class=cellinside>nss_ldap
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>87
</td>
<td class=cellinside>nos
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   62
</td>
<td class=cellinside>  14.36
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2062
</td>
<td class=cellinside>2014.4
</td></tr>
 
<tr> 
<td class=firstcolumn>69
</td>
<td class=cellinside>lslayout
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   81
</td>
<td class=cellinside>  16.73
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2081
</td>
<td class=cellinside>2016.7
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>boxer
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   29
</td>
<td class=cellinside>   6.11
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2029
</td>
<td class=cellinside>2006.1
</td></tr>
 
<tr> 
<td class=firstcolumn>85
</td>
<td class=cellinside>netkit-tftpd
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>103
</td>
<td class=cellinside>sharutils
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>78
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  10
</td>
<td class=cellinside> 1094
</td>
<td class=cellinside> 274.67
</td>
<td class=cellinside>2010
</td>
<td class=cellinside> 3094
</td>
<td class=cellinside>2274.7
</td></tr>
 
<tr> 
<td class=firstcolumn>107
</td>
<td class=cellinside>spdb
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>122
</td>
<td class=cellinside>xtell
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>bunch
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>40
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>   4
</td>
<td class=cellinside> 1585
</td>
<td class=cellinside> 243.65
</td>
<td class=cellinside>2004
</td>
<td class=cellinside> 3585
</td>
<td class=cellinside>2243.7
</td></tr>
 
<tr> 
<td class=firstcolumn>83
</td>
<td class=cellinside>netkit-inetd
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>79
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>   2
</td>
<td class=cellinside> 2345
</td>
<td class=cellinside> 369.54
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 4345
</td>
<td class=cellinside>2369.5
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>ciald
</td>
<td class=cellinside>   2
</td>
<td class=cellinside>  742
</td>
<td class=cellinside> 130.87
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 2742
</td>
<td class=cellinside>2130.9
</td></tr>
 
<tr> 
<td class=firstcolumn>54
</td>
<td class=cellinside>joe
</td>
<td class=cellinside>  14
</td>
<td class=cellinside>  763
</td>
<td class=cellinside> 196.17
</td>
<td class=cellinside>2014
</td>
<td class=cellinside> 2763
</td>
<td class=cellinside>2196.2
</td></tr>
 
<tr> 
<td class=firstcolumn>77
</td>
<td class=cellinside>Modulizer
</td>
<td class=cellinside>   2
</td>
<td class=cellinside>  116
</td>
<td class=cellinside>  28.82
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 2116
</td>
<td class=cellinside>2028.8
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>bootp
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>64
</td>
<td class=cellinside>jxlsreader
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>112
</td>
<td class=cellinside>sysklogd-1
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>114
</td>
<td class=cellinside>telnetd
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>19
</td>
<td class=cellinside>crond
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>82
</td>
<td class=cellinside>netkit-ftp
</td>
<td class=cellinside>   3
</td>
<td class=cellinside>   82
</td>
<td class=cellinside>  28.79
</td>
<td class=cellinside>2003
</td>
<td class=cellinside> 2082
</td>
<td class=cellinside>2028.8
</td></tr>
 
<tr> 
<td class=firstcolumn>97
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>   5
</td>
<td class=cellinside> 2506
</td>
<td class=cellinside> 774.47
</td>
<td class=cellinside>2005
</td>
<td class=cellinside> 4506
</td>
<td class=cellinside>2774.5
</td></tr>
 
<tr> 
<td class=firstcolumn>101
</td>
<td class=cellinside>seemp
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside> 397.75
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 4000
</td>
<td class=cellinside>2397.8
</td></tr>
 
<tr> 
<td class=firstcolumn>22
</td>
<td class=cellinside>dhcpd-2
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>  772
</td>
<td class=cellinside> 146.93
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2772
</td>
<td class=cellinside>2146.9
</td></tr>
 
<tr> 
<td class=firstcolumn>20
</td>
<td class=cellinside>cyrus-sasl
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   62
</td>
<td class=cellinside>  19.43
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2062
</td>
<td class=cellinside>2019.4
</td></tr>
 
<tr> 
<td class=firstcolumn>113
</td>
<td class=cellinside>tcsh
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>74
</td>
<td class=cellinside>micq
</td>
<td class=cellinside>   0
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>   0.00
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>2000.0
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  10
</td>
<td class=cellinside> 1244
</td>
<td class=cellinside> 242.08
</td>
<td class=cellinside>2010
</td>
<td class=cellinside> 3244
</td>
<td class=cellinside>2242.1
</td></tr>
 
<tr> 
<td class=firstcolumn>109
</td>
<td class=cellinside>star
</td>
<td class=cellinside> 166
</td>
<td class=cellinside> 3431
</td>
<td class=cellinside>1725.66
</td>
<td class=cellinside>2166
</td>
<td class=cellinside> 5431
</td>
<td class=cellinside>3725.7
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>  38
</td>
<td class=cellinside> 3477
</td>
<td class=cellinside>1116.90
</td>
<td class=cellinside>2038
</td>
<td class=cellinside> 5477
</td>
<td class=cellinside>3116.9
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>cia
</td>
<td class=cellinside>   9
</td>
<td class=cellinside> 2008
</td>
<td class=cellinside> 247.73
</td>
<td class=cellinside>2009
</td>
<td class=cellinside> 4008
</td>
<td class=cellinside>2247.7
</td></tr>
 
<tr> 
<td class=firstcolumn>110
</td>
<td class=cellinside>stunnel
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 1283
</td>
<td class=cellinside> 479.72
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 3283
</td>
<td class=cellinside>2479.7
</td></tr>
 
<tr> 
<td class=firstcolumn>75
</td>
<td class=cellinside>minicom
</td>
<td class=cellinside>1020
</td>
<td class=cellinside> 2212
</td>
<td class=cellinside>1371.12
</td>
<td class=cellinside>3020
</td>
<td class=cellinside> 4212
</td>
<td class=cellinside>3371.1
</td></tr>
 
<tr> 
<td class=firstcolumn>73
</td>
<td class=cellinside>mailx
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 2000
</td>
<td class=cellinside>1199.16
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 4000
</td>
<td class=cellinside>3199.2
</td></tr>
 
<tr> 
<td class=firstcolumn>24
</td>
<td class=cellinside>dot
</td>
<td class=cellinside>  21
</td>
<td class=cellinside> 4458
</td>
<td class=cellinside>1477.46
</td>
<td class=cellinside>2021
</td>
<td class=cellinside> 7124
</td>
<td class=cellinside>3487.5
</td></tr>
 
<tr> 
<td class=firstcolumn>100
</td>
<td class=cellinside>screen
</td>
<td class=cellinside>   7
</td>
<td class=cellinside>  610
</td>
<td class=cellinside> 132.51
</td>
<td class=cellinside>2007
</td>
<td class=cellinside> 2610
</td>
<td class=cellinside>2132.5
</td></tr>
 
<tr> 
<td class=firstcolumn>104
</td>
<td class=cellinside>slang
</td>
<td class=cellinside>  12
</td>
<td class=cellinside> 2086
</td>
<td class=cellinside>1305.41
</td>
<td class=cellinside>2012
</td>
<td class=cellinside> 4086
</td>
<td class=cellinside>3305.4
</td></tr>
 
<tr> 
<td class=firstcolumn>105
</td>
<td class=cellinside>slrn
</td>
<td class=cellinside>  16
</td>
<td class=cellinside> 2042
</td>
<td class=cellinside> 407.55
</td>
<td class=cellinside>2016
</td>
<td class=cellinside> 4042
</td>
<td class=cellinside>2407.6
</td></tr>
 
<tr> 
<td class=firstcolumn>81
</td>
<td class=cellinside>net-tools
</td>
<td class=cellinside>   1
</td>
<td class=cellinside> 3302
</td>
<td class=cellinside> 548.03
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 5302
</td>
<td class=cellinside>2548.0
</td></tr>
 
<tr> 
<td class=firstcolumn>33
</td>
<td class=cellinside>graph10up49
</td>
<td class=cellinside> 357
</td>
<td class=cellinside>12768
</td>
<td class=cellinside>3296.55
</td>
<td class=cellinside>2357
</td>
<td class=cellinside>18768
</td>
<td class=cellinside>5386.6
</td></tr>
 
<tr> 
<td class=firstcolumn>117
</td>
<td class=cellinside>wu-ftpd-1
</td>
<td class=cellinside>   2
</td>
<td class=cellinside> 2651
</td>
<td class=cellinside> 618.81
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 4651
</td>
<td class=cellinside>2618.8
</td></tr>
 
<tr> 
<td class=firstcolumn>53
</td>
<td class=cellinside>jodamoney
</td>
<td class=cellinside>   2
</td>
<td class=cellinside>   47
</td>
<td class=cellinside>  15.57
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 2047
</td>
<td class=cellinside>2015.6
</td></tr>
 
<tr> 
<td class=firstcolumn>35
</td>
<td class=cellinside>hw
</td>
<td class=cellinside>  18
</td>
<td class=cellinside>  211
</td>
<td class=cellinside>  51.28
</td>
<td class=cellinside>2018
</td>
<td class=cellinside> 2211
</td>
<td class=cellinside>2051.3
</td></tr>
 
<tr> 
<td class=firstcolumn>37
</td>
<td class=cellinside>imapd-1
</td>
<td class=cellinside>  56
</td>
<td class=cellinside> 1938
</td>
<td class=cellinside>1010.32
</td>
<td class=cellinside>2056
</td>
<td class=cellinside> 3938
</td>
<td class=cellinside>3010.3
</td></tr>
 
<tr> 
<td class=firstcolumn>118
</td>
<td class=cellinside>wu-ftpd-3
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   53
</td>
<td class=cellinside>  18.37
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2053
</td>
<td class=cellinside>2018.4
</td></tr>
 
<tr> 
<td class=firstcolumn>116
</td>
<td class=cellinside>udt-java
</td>
<td class=cellinside>  41
</td>
<td class=cellinside> 1008
</td>
<td class=cellinside> 269.50
</td>
<td class=cellinside>2041
</td>
<td class=cellinside> 3008
</td>
<td class=cellinside>2269.5
</td></tr>
 
<tr> 
<td class=firstcolumn>45
</td>
<td class=cellinside>javaocr
</td>
<td class=cellinside>   7
</td>
<td class=cellinside> 4047
</td>
<td class=cellinside>1418.83
</td>
<td class=cellinside>2007
</td>
<td class=cellinside> 6047
</td>
<td class=cellinside>3418.8
</td></tr>
 
<tr> 
<td class=firstcolumn>21
</td>
<td class=cellinside>dhcpd-1
</td>
<td class=cellinside>  14
</td>
<td class=cellinside>  832
</td>
<td class=cellinside> 170.82
</td>
<td class=cellinside>2014
</td>
<td class=cellinside> 2832
</td>
<td class=cellinside>2170.8
</td></tr>
 
<tr> 
<td class=firstcolumn>36
</td>
<td class=cellinside>icecast
</td>
<td class=cellinside>  10
</td>
<td class=cellinside>  747
</td>
<td class=cellinside> 197.38
</td>
<td class=cellinside>2010
</td>
<td class=cellinside> 2747
</td>
<td class=cellinside>2197.4
</td></tr>
 
<tr> 
<td class=firstcolumn>91
</td>
<td class=cellinside>pfcda_base
</td>
<td class=cellinside>  34
</td>
<td class=cellinside> 3901
</td>
<td class=cellinside>1458.33
</td>
<td class=cellinside>2034
</td>
<td class=cellinside> 5901
</td>
<td class=cellinside>3458.3
</td></tr>
 
<tr> 
<td class=firstcolumn>102
</td>
<td class=cellinside>servletapi
</td>
<td class=cellinside> 126
</td>
<td class=cellinside> 3748
</td>
<td class=cellinside>1642.31
</td>
<td class=cellinside>2126
</td>
<td class=cellinside> 5748
</td>
<td class=cellinside>3642.3
</td></tr>
 
<tr> 
<td class=firstcolumn>93
</td>
<td class=cellinside>php
</td>
<td class=cellinside>   2
</td>
<td class=cellinside> 1954
</td>
<td class=cellinside> 317.12
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 3954
</td>
<td class=cellinside>2317.1
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>bunch2
</td>
<td class=cellinside>  31
</td>
<td class=cellinside> 3683
</td>
<td class=cellinside> 804.93
</td>
<td class=cellinside>2031
</td>
<td class=cellinside> 6683
</td>
<td class=cellinside>2814.9
</td></tr>
 
<tr> 
<td class=firstcolumn>29
</td>
<td class=cellinside>forms
</td>
<td class=cellinside>   1
</td>
<td class=cellinside>   46
</td>
<td class=cellinside>  13.39
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 2046
</td>
<td class=cellinside>2013.4
</td></tr>
 
<tr> 
<td class=firstcolumn>57
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>   8
</td>
<td class=cellinside> 2014
</td>
<td class=cellinside> 162.30
</td>
<td class=cellinside>2008
</td>
<td class=cellinside> 4014
</td>
<td class=cellinside>2162.3
</td></tr>
 
<tr> 
<td class=firstcolumn>63
</td>
<td class=cellinside>jxlscore
</td>
<td class=cellinside>  42
</td>
<td class=cellinside> 5266
</td>
<td class=cellinside>1155.41
</td>
<td class=cellinside>2042
</td>
<td class=cellinside> 8266
</td>
<td class=cellinside>3165.4
</td></tr>
 
<tr> 
<td class=firstcolumn>27
</td>
<td class=cellinside>elm-2
</td>
<td class=cellinside>   4
</td>
<td class=cellinside> 2103
</td>
<td class=cellinside> 466.21
</td>
<td class=cellinside>2004
</td>
<td class=cellinside> 4103
</td>
<td class=cellinside>2466.2
</td></tr>
 
<tr> 
<td class=firstcolumn>49
</td>
<td class=cellinside>jfluid
</td>
<td class=cellinside>   1
</td>
<td class=cellinside> 1106
</td>
<td class=cellinside>  54.69
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 3106
</td>
<td class=cellinside>2054.7
</td></tr>
 
<tr> 
<td class=firstcolumn>34
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>   2
</td>
<td class=cellinside> 2265
</td>
<td class=cellinside> 200.09
</td>
<td class=cellinside>2002
</td>
<td class=cellinside> 4265
</td>
<td class=cellinside>2200.1
</td></tr>
 
<tr> 
<td class=firstcolumn>26
</td>
<td class=cellinside>elm-1
</td>
<td class=cellinside>  13
</td>
<td class=cellinside> 2003
</td>
<td class=cellinside> 466.65
</td>
<td class=cellinside>2013
</td>
<td class=cellinside> 4003
</td>
<td class=cellinside>2466.7
</td></tr>
 
<tr> 
<td class=firstcolumn>31
</td>
<td class=cellinside>gnupg
</td>
<td class=cellinside>  12
</td>
<td class=cellinside> 2943
</td>
<td class=cellinside>1446.15
</td>
<td class=cellinside>2012
</td>
<td class=cellinside> 4943
</td>
<td class=cellinside>3446.2
</td></tr>
 
<tr> 
<td class=firstcolumn>39
</td>
<td class=cellinside>inn
</td>
<td class=cellinside>   1
</td>
<td class=cellinside> 1704
</td>
<td class=cellinside> 392.58
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 3704
</td>
<td class=cellinside>2392.6
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>bash
</td>
<td class=cellinside>  33
</td>
<td class=cellinside> 2366
</td>
<td class=cellinside> 788.03
</td>
<td class=cellinside>2033
</td>
<td class=cellinside> 4366
</td>
<td class=cellinside>2788.0
</td></tr>
 
<tr> 
<td class=firstcolumn>55
</td>
<td class=cellinside>jpassword
</td>
<td class=cellinside>  42
</td>
<td class=cellinside> 5041
</td>
<td class=cellinside>1166.69
</td>
<td class=cellinside>2042
</td>
<td class=cellinside> 8040
</td>
<td class=cellinside>3176.7
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>bitchx
</td>
<td class=cellinside>  23
</td>
<td class=cellinside> 2684
</td>
<td class=cellinside> 370.16
</td>
<td class=cellinside>2023
</td>
<td class=cellinside> 4684
</td>
<td class=cellinside>2370.2
</td></tr>
 
<tr> 
<td class=firstcolumn>62
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>   1
</td>
<td class=cellinside> 2007
</td>
<td class=cellinside> 145.67
</td>
<td class=cellinside>2001
</td>
<td class=cellinside> 4007
</td>
<td class=cellinside>2145.7
</td></tr>
 
<tr> 
<td class=firstcolumn>121
</td>
<td class=cellinside>xntp
</td>
<td class=cellinside>  59
</td>
<td class=cellinside> 2890
</td>
<td class=cellinside>1620.45
</td>
<td class=cellinside>2059
</td>
<td class=cellinside> 4890
</td>
<td class=cellinside>3620.4
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>acqCIGNA
</td>
<td class=cellinside>  40
</td>
<td class=cellinside> 2478
</td>
<td class=cellinside>1070.26
</td>
<td class=cellinside>2040
</td>
<td class=cellinside> 4478
</td>
<td class=cellinside>3070.3
</td></tr>
 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>bunch_2
</td>
<td class=cellinside> 120
</td>
<td class=cellinside> 4774
</td>
<td class=cellinside>1894.88
</td>
<td class=cellinside>2120
</td>
<td class=cellinside> 7774
</td>
<td class=cellinside>3914.9
</td></tr>
 
<tr> 
<td class=firstcolumn>28
</td>
<td class=cellinside>exim
</td>
<td class=cellinside>   3
</td>
<td class=cellinside> 3338
</td>
<td class=cellinside> 444.88
</td>
<td class=cellinside>2003
</td>
<td class=cellinside> 5338
</td>
<td class=cellinside>2444.9
</td></tr>
 
<tr> 
<td class=firstcolumn>120
</td>
<td class=cellinside>xmldom
</td>
<td class=cellinside>   3
</td>
<td class=cellinside>  187
</td>
<td class=cellinside>  41.06
</td>
<td class=cellinside>2003
</td>
<td class=cellinside> 2187
</td>
<td class=cellinside>2041.1
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>cia++
</td>
<td class=cellinside>  13
</td>
<td class=cellinside> 2157
</td>
<td class=cellinside> 671.97
</td>
<td class=cellinside>2013
</td>
<td class=cellinside> 4157
</td>
<td class=cellinside>2672.0
</td></tr>
 
<tr> 
<td class=firstcolumn>115
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 222
</td>
<td class=cellinside> 2566
</td>
<td class=cellinside>1544.26
</td>
<td class=cellinside>2222
</td>
<td class=cellinside> 4566
</td>
<td class=cellinside>3544.3
</td></tr>
 
<tr> 
<td class=firstcolumn>76
</td>
<td class=cellinside>mod_ssl
</td>
<td class=cellinside>  40
</td>
<td class=cellinside> 3666
</td>
<td class=cellinside>1349.72
</td>
<td class=cellinside>2040
</td>
<td class=cellinside> 5666
</td>
<td class=cellinside>3349.7
</td></tr>
 
<tr> 
<td class=firstcolumn>50
</td>
<td class=cellinside>jkaryoscope
</td>
<td class=cellinside>   5
</td>
<td class=cellinside>  461
</td>
<td class=cellinside> 109.92
</td>
<td class=cellinside>2005
</td>
<td class=cellinside> 2461
</td>
<td class=cellinside>2109.9
</td></tr>
 
<tr> 
<td class=firstcolumn>80
</td>
<td class=cellinside>ncurses
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 2955
</td>
<td class=cellinside> 396.58
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 4955
</td>
<td class=cellinside>2396.6
</td></tr>
 
<tr> 
<td class=firstcolumn>30
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>   9
</td>
<td class=cellinside> 3030
</td>
<td class=cellinside>1577.50
</td>
<td class=cellinside>2009
</td>
<td class=cellinside> 5030
</td>
<td class=cellinside>3577.5
</td></tr>
 
<tr> 
<td class=firstcolumn>72
</td>
<td class=cellinside>lynx
</td>
<td class=cellinside> 140
</td>
<td class=cellinside> 8509
</td>
<td class=cellinside>2030.21
</td>
<td class=cellinside>2140
</td>
<td class=cellinside>13509
</td>
<td class=cellinside>4140.2
</td></tr>
 
<tr> 
<td class=firstcolumn>43
</td>
<td class=cellinside>javacc
</td>
<td class=cellinside> 207
</td>
<td class=cellinside>10622
</td>
<td class=cellinside>2721.53
</td>
<td class=cellinside>2207
</td>
<td class=cellinside>15622
</td>
<td class=cellinside>4791.5
</td></tr>
 
<tr> 
<td class=firstcolumn>70
</td>
<td class=cellinside>lucent
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 1993
</td>
<td class=cellinside> 216.01
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 3993
</td>
<td class=cellinside>2216.0
</td></tr>
 
<tr> 
<td class=firstcolumn>44
</td>
<td class=cellinside>JavaGeom
</td>
<td class=cellinside> 105
</td>
<td class=cellinside> 6232
</td>
<td class=cellinside>1423.74
</td>
<td class=cellinside>2105
</td>
<td class=cellinside> 9232
</td>
<td class=cellinside>3443.7
</td></tr>
 
<tr> 
<td class=firstcolumn>38
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>   0
</td>
<td class=cellinside> 2341
</td>
<td class=cellinside> 518.46
</td>
<td class=cellinside>2000
</td>
<td class=cellinside> 4341
</td>
<td class=cellinside>2518.5
</td></tr>
 
<tr> 
<td class=firstcolumn>48
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>  25
</td>
<td class=cellinside> 5558
</td>
<td class=cellinside> 978.56
</td>
<td class=cellinside>2025
</td>
<td class=cellinside> 8558
</td>
<td class=cellinside>2998.6
</td></tr>
 
<tr> 
<td class=firstcolumn>119
</td>
<td class=cellinside>xmlapi
</td>
<td class=cellinside>  67
</td>
<td class=cellinside> 3233
</td>
<td class=cellinside> 601.26
</td>
<td class=cellinside>2067
</td>
<td class=cellinside> 5233
</td>
<td class=cellinside>2601.3
</td></tr>
 
<tr> 
<td class=firstcolumn>51
</td>
<td class=cellinside>jmetal
</td>
<td class=cellinside> 397
</td>
<td class=cellinside>16882
</td>
<td class=cellinside>3597.35
</td>
<td class=cellinside>2397
</td>
<td class=cellinside>22882
</td>
<td class=cellinside>5737.4
</td></tr>
 
<tr> 
<td class=firstcolumn>32
</td>
<td class=cellinside>graph10up193
</td>
<td class=cellinside> 598
</td>
<td class=cellinside>19671
</td>
<td class=cellinside>4975.43
</td>
<td class=cellinside>2598
</td>
<td class=cellinside>26671
</td>
<td class=cellinside>7205.4
</td></tr>
 
<tr> 
<td class=firstcolumn>23
</td>
<td class=cellinside>dom4j
</td>
<td class=cellinside> 626
</td>
<td class=cellinside> 7679
</td>
<td class=cellinside>3520.63
</td>
<td class=cellinside>2626
</td>
<td class=cellinside>10268
</td>
<td class=cellinside>5600.6
</td></tr>
 
<tr> 
<td class=firstcolumn>86
</td>
<td class=cellinside>nmh
</td>
<td class=cellinside> 107
</td>
<td class=cellinside> 6123
</td>
<td class=cellinside>2485.05
</td>
<td class=cellinside>2107
</td>
<td class=cellinside> 8666
</td>
<td class=cellinside>4505.1
</td></tr>
 
<tr> 
<td class=firstcolumn>90
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>  15
</td>
<td class=cellinside> 1964
</td>
<td class=cellinside> 586.72
</td>
<td class=cellinside>2015
</td>
<td class=cellinside> 3964
</td>
<td class=cellinside>2586.7
</td></tr>
 
<tr> 
<td class=firstcolumn>60
</td>
<td class=cellinside>Jung_graph_model
</td>
<td class=cellinside> 180
</td>
<td class=cellinside> 8711
</td>
<td class=cellinside>1619.93
</td>
<td class=cellinside>2180
</td>
<td class=cellinside>12711
</td>
<td class=cellinside>3649.9
</td></tr>
 
<tr> 
<td class=firstcolumn>61
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 123
</td>
<td class=cellinside> 5771
</td>
<td class=cellinside>2020.41
</td>
<td class=cellinside>2123
</td>
<td class=cellinside> 8771
</td>
<td class=cellinside>4040.4
</td></tr>
 
<tr> 
<td class=firstcolumn>47
</td>
<td class=cellinside>jconsole
</td>
<td class=cellinside>  48
</td>
<td class=cellinside> 2851
</td>
<td class=cellinside> 535.95
</td>
<td class=cellinside>2048
</td>
<td class=cellinside> 4851
</td>
<td class=cellinside>2535.9
</td></tr>
 
<tr> 
<td class=firstcolumn>92
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 111
</td>
<td class=cellinside> 3033
</td>
<td class=cellinside> 690.95
</td>
<td class=cellinside>2111
</td>
<td class=cellinside> 5033
</td>
<td class=cellinside>2690.9
</td></tr>
 
<tr> 
<td class=firstcolumn>52
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 367
</td>
<td class=cellinside> 8984
</td>
<td class=cellinside>3110.91
</td>
<td class=cellinside>2367
</td>
<td class=cellinside>12984
</td>
<td class=cellinside>5180.9
</td></tr>
 
<tr> 
<td class=firstcolumn>56
</td>
<td class=cellinside>jpassword2
</td>
<td class=cellinside> 163
</td>
<td class=cellinside> 8704
</td>
<td class=cellinside>2179.58
</td>
<td class=cellinside>2163
</td>
<td class=cellinside>12704
</td>
<td class=cellinside>4199.6
</td></tr>
 
<tr> 
<td class=firstcolumn>88
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 369
</td>
<td class=cellinside> 9008
</td>
<td class=cellinside>3116.29
</td>
<td class=cellinside>2369
</td>
<td class=cellinside>12008
</td>
<td class=cellinside>5166.3
</td></tr>
 
<tr> 
<td class=firstcolumn>95
</td>
<td class=cellinside>Poormans CMS
</td>
<td class=cellinside> 721
</td>
<td class=cellinside>13091
</td>
<td class=cellinside>5263.49
</td>
<td class=cellinside>2721
</td>
<td class=cellinside>18716
</td>
<td class=cellinside>7563.5
</td></tr>
 
<tr> 
<td class=firstcolumn>68
</td>
<td class=cellinside>log4j
</td>
<td class=cellinside> 687
</td>
<td class=cellinside>12930
</td>
<td class=cellinside>3649.64
</td>
<td class=cellinside>2687
</td>
<td class=cellinside>18930
</td>
<td class=cellinside>5779.6
</td></tr>
 
<tr> 
<td class=firstcolumn>59
</td>
<td class=cellinside>jtreeview
</td>
<td class=cellinside>  80
</td>
<td class=cellinside> 7994
</td>
<td class=cellinside>1913.28
</td>
<td class=cellinside>2080
</td>
<td class=cellinside>11994
</td>
<td class=cellinside>3943.3
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>bunchall
</td>
<td class=cellinside> 367
</td>
<td class=cellinside>12924
</td>
<td class=cellinside>3797.09
</td>
<td class=cellinside>2367
</td>
<td class=cellinside>17924
</td>
<td class=cellinside>5937.1
</td></tr>
 
<tr> 
<td class=firstcolumn>42
</td>
<td class=cellinside>JACE
</td>
<td class=cellinside>  27
</td>
<td class=cellinside> 3326
</td>
<td class=cellinside> 888.09
</td>
<td class=cellinside>2027
</td>
<td class=cellinside> 5326
</td>
<td class=cellinside>2888.1
</td></tr>
 
<tr> 
<td class=firstcolumn>46
</td>
<td class=cellinside>javaws
</td>
<td class=cellinside> 109
</td>
<td class=cellinside> 7077
</td>
<td class=cellinside>1729.07
</td>
<td class=cellinside>2109
</td>
<td class=cellinside> 9077
</td>
<td class=cellinside>3749.1
</td></tr>
 
<tr> 
<td class=firstcolumn>111
</td>
<td class=cellinside>swing
</td>
<td class=cellinside> 296
</td>
<td class=cellinside>10409
</td>
<td class=cellinside>2057.37
</td>
<td class=cellinside>2296
</td>
<td class=cellinside>15409
</td>
<td class=cellinside>4107.4
</td></tr>
 
<tr> 
<td class=firstcolumn>71
</td>
<td class=cellinside>lwjgl-2.8.4
</td>
<td class=cellinside> 461
</td>
<td class=cellinside>11708
</td>
<td class=cellinside>4165.41
</td>
<td class=cellinside>2461
</td>
<td class=cellinside>16708
</td>
<td class=cellinside>6275.4
</td></tr>
 
<tr> 
<td class=firstcolumn>99
</td>
<td class=cellinside>res_cobol
</td>
<td class=cellinside> 653
</td>
<td class=cellinside>23593
</td>
<td class=cellinside>6672.73
</td>
<td class=cellinside>2653
</td>
<td class=cellinside>27593
</td>
<td class=cellinside>8772.7
</td></tr>
 
<tr> 
<td class=firstcolumn>94
</td>
<td class=cellinside>ping_libc
</td>
<td class=cellinside> 191
</td>
<td class=cellinside> 7870
</td>
<td class=cellinside>1629.35
</td>
<td class=cellinside>2191
</td>
<td class=cellinside>11870
</td>
<td class=cellinside>3659.3
</td></tr>
 
<tr> 
<td class=firstcolumn>123
</td>
<td class=cellinside>y_base
</td>
<td class=cellinside> 422
</td>
<td class=cellinside>19519
</td>
<td class=cellinside>4114.18
</td>
<td class=cellinside>2422
</td>
<td class=cellinside>26519
</td>
<td class=cellinside>6374.2
</td></tr>
 
<tr> 
<td class=firstcolumn>65
</td>
<td class=cellinside>krb5
</td>
<td class=cellinside> 164
</td>
<td class=cellinside> 5547
</td>
<td class=cellinside>1538.11
</td>
<td class=cellinside>2164
</td>
<td class=cellinside> 7547
</td>
<td class=cellinside>3538.1
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>apache_ant_taskdef
</td>
<td class=cellinside>  37
</td>
<td class=cellinside> 8088
</td>
<td class=cellinside>1361.20
</td>
<td class=cellinside>2037
</td>
<td class=cellinside>12088
</td>
<td class=cellinside>3381.2
</td></tr>
 
<tr> 
<td class=firstcolumn>41
</td>
<td class=cellinside>itextpdf
</td>
<td class=cellinside> 388
</td>
<td class=cellinside>10307
</td>
<td class=cellinside>2871.80
</td>
<td class=cellinside>2388
</td>
<td class=cellinside>12307
</td>
<td class=cellinside>4881.8
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>apache_lucene_core
</td>
<td class=cellinside> 531
</td>
<td class=cellinside>15695
</td>
<td class=cellinside>3587.16
</td>
<td class=cellinside>2531
</td>
<td class=cellinside>21695
</td>
<td class=cellinside>5747.2
</td></tr>
 
<tr> 
<td class=firstcolumn>25
</td>
<td class=cellinside>eclipse_jgit
</td>
<td class=cellinside> 557
</td>
<td class=cellinside>12312
</td>
<td class=cellinside>2455.65
</td>
<td class=cellinside>2557
</td>
<td class=cellinside>16312
</td>
<td class=cellinside>4475.6
</td></tr>
 
<tr> 
<td class=firstcolumn>67
</td>
<td class=cellinside>linux
</td>
<td class=cellinside>2199
</td>
<td class=cellinside>15606
</td>
<td class=cellinside>6827.84
</td>
<td class=cellinside>4199
</td>
<td class=cellinside>17606
</td>
<td class=cellinside>8847.8
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>apache_ant
</td>
<td class=cellinside> 823
</td>
<td class=cellinside>16276
</td>
<td class=cellinside>4303.07
</td>
<td class=cellinside>2823
</td>
<td class=cellinside>20276
</td>
<td class=cellinside>6363.1
</td></tr>
 
<tr> 
<td class=firstcolumn>124
</td>
<td class=cellinside>ylayout
</td>
<td class=cellinside> 759
</td>
<td class=cellinside> 8943
</td>
<td class=cellinside>3539.72
</td>
<td class=cellinside>2759
</td>
<td class=cellinside>12943
</td>
<td class=cellinside>5569.7
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
