

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>108
</td>
<td class=cellinside>squid
</td>
<td class=cellinside>  1.00000
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      0.78
</td>
<td class=cellinside>3.4188e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>106
</td>
<td class=cellinside>small
</td>
<td class=cellinside>  1.52381
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      1.09
</td>
<td class=cellinside>3.9952e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>compiler
</td>
<td class=cellinside>  1.49683
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      4.21
</td>
<td class=cellinside>6.9621e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>96
</td>
<td class=cellinside>random
</td>
<td class=cellinside>  2.44092
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      3.91
</td>
<td class=cellinside>6.8107e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>98
</td>
<td class=cellinside>regexp
</td>
<td class=cellinside>  2.44704
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      2.49
</td>
<td class=cellinside>5.7375e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>58
</td>
<td class=cellinside>jstl
</td>
<td class=cellinside>  5.00000
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      4.21
</td>
<td class=cellinside>6.9621e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>66
</td>
<td class=cellinside>lab4
</td>
<td class=cellinside>  3.40000
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      3.58
</td>
<td class=cellinside>6.5877e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>84
</td>
<td class=cellinside>netkit-ping
</td>
<td class=cellinside>  1.00000
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      0.62
</td>
<td class=cellinside>3.0543e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>89
</td>
<td class=cellinside>nss_ldap
</td>
<td class=cellinside>  0.97634
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      0.93
</td>
<td class=cellinside>3.7016e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>87
</td>
<td class=cellinside>nos
</td>
<td class=cellinside>  1.65652
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.00
</td>
<td class=cellinside>7.3306e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>69
</td>
<td class=cellinside>lslayout
</td>
<td class=cellinside>  1.81710
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.46
</td>
<td class=cellinside>7.4839e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>boxer
</td>
<td class=cellinside>  3.10110
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      4.37
</td>
<td class=cellinside>7.0477e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>85
</td>
<td class=cellinside>netkit-tftpd
</td>
<td class=cellinside>  1.14421
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      1.87
</td>
<td class=cellinside>5.0924e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>103
</td>
<td class=cellinside>sharutils
</td>
<td class=cellinside>  2.53381
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      4.52
</td>
<td class=cellinside>7.1131e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>78
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  2.28564
</td>
<td class=cellinside>3.6229e-02
</td>
<td class=cellinside>      8.27
</td>
<td class=cellinside>7.8352e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>107
</td>
<td class=cellinside>spdb
</td>
<td class=cellinside>  5.58974
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      2.18
</td>
<td class=cellinside>5.4335e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>122
</td>
<td class=cellinside>xtell
</td>
<td class=cellinside>  2.00523
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      4.53
</td>
<td class=cellinside>7.1286e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>bunch
</td>
<td class=cellinside>  2.40260
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.15
</td>
<td class=cellinside>7.3805e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>40
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  2.33231
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     10.92
</td>
<td class=cellinside>7.1966e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>83
</td>
<td class=cellinside>netkit-inetd
</td>
<td class=cellinside>  1.31206
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      1.24
</td>
<td class=cellinside>4.2286e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>79
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  3.81705
</td>
<td class=cellinside>1.5630e-03
</td>
<td class=cellinside>     10.29
</td>
<td class=cellinside>7.4336e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>ciald
</td>
<td class=cellinside>  2.84592
</td>
<td class=cellinside>3.0271e-16
</td>
<td class=cellinside>      9.21
</td>
<td class=cellinside>7.7255e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>54
</td>
<td class=cellinside>joe
</td>
<td class=cellinside>  3.31855
</td>
<td class=cellinside>1.3819e-02
</td>
<td class=cellinside>     38.51
</td>
<td class=cellinside>8.2211e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>77
</td>
<td class=cellinside>Modulizer
</td>
<td class=cellinside>  2.75790
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.77
</td>
<td class=cellinside>7.5730e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>bootp
</td>
<td class=cellinside>  2.19853
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.92
</td>
<td class=cellinside>7.6061e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>64
</td>
<td class=cellinside>jxlsreader
</td>
<td class=cellinside>  3.59208
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      9.83
</td>
<td class=cellinside>7.5813e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>112
</td>
<td class=cellinside>sysklogd-1
</td>
<td class=cellinside>  1.68703
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      7.64
</td>
<td class=cellinside>7.8413e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>114
</td>
<td class=cellinside>telnetd
</td>
<td class=cellinside>  1.84749
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      5.62
</td>
<td class=cellinside>7.5368e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>19
</td>
<td class=cellinside>crond
</td>
<td class=cellinside>  2.30300
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      9.04
</td>
<td class=cellinside>7.7406e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>82
</td>
<td class=cellinside>netkit-ftp
</td>
<td class=cellinside>  1.75623
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      7.81
</td>
<td class=cellinside>7.8569e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>97
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  2.22608
</td>
<td class=cellinside>9.9268e-04
</td>
<td class=cellinside>     16.69
</td>
<td class=cellinside>5.9589e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>101
</td>
<td class=cellinside>seemp
</td>
<td class=cellinside>  4.65359
</td>
<td class=cellinside>4.6384e-16
</td>
<td class=cellinside>      9.20
</td>
<td class=cellinside>7.7172e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>22
</td>
<td class=cellinside>dhcpd-2
</td>
<td class=cellinside>  3.48894
</td>
<td class=cellinside>2.9268e-16
</td>
<td class=cellinside>     11.70
</td>
<td class=cellinside>7.1725e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>20
</td>
<td class=cellinside>cyrus-sasl
</td>
<td class=cellinside>  3.25182
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      8.27
</td>
<td class=cellinside>7.8352e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>113
</td>
<td class=cellinside>tcsh
</td>
<td class=cellinside>  1.19454
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>      7.80
</td>
<td class=cellinside>8.1501e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>74
</td>
<td class=cellinside>micq
</td>
<td class=cellinside>  2.13288
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     10.45
</td>
<td class=cellinside>7.3819e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  5.76634
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     15.76
</td>
<td class=cellinside>3.5079e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>109
</td>
<td class=cellinside>star
</td>
<td class=cellinside>  3.82497
</td>
<td class=cellinside>5.0107e-03
</td>
<td class=cellinside>     26.20
</td>
<td class=cellinside>7.9188e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>  2.68281
</td>
<td class=cellinside>6.4732e-03
</td>
<td class=cellinside>     28.07
</td>
<td class=cellinside>1.0202e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>cia
</td>
<td class=cellinside>  3.73064
</td>
<td class=cellinside>5.9348e-03
</td>
<td class=cellinside>     21.21
</td>
<td class=cellinside>7.5187e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>110
</td>
<td class=cellinside>stunnel
</td>
<td class=cellinside>  2.52605
</td>
<td class=cellinside>8.9265e-17
</td>
<td class=cellinside>     10.77
</td>
<td class=cellinside>7.2667e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>75
</td>
<td class=cellinside>minicom
</td>
<td class=cellinside>  2.57585
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     32.14
</td>
<td class=cellinside>5.4086e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>73
</td>
<td class=cellinside>mailx
</td>
<td class=cellinside>  3.23952
</td>
<td class=cellinside>2.0424e-03
</td>
<td class=cellinside>     38.05
</td>
<td class=cellinside>8.9785e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>24
</td>
<td class=cellinside>dot
</td>
<td class=cellinside>  2.83787
</td>
<td class=cellinside>6.2214e-03
</td>
<td class=cellinside>     57.08
</td>
<td class=cellinside>2.2653e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>100
</td>
<td class=cellinside>screen
</td>
<td class=cellinside>  2.24550
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     21.38
</td>
<td class=cellinside>7.5689e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>104
</td>
<td class=cellinside>slang
</td>
<td class=cellinside>  4.67903
</td>
<td class=cellinside>1.9206e-03
</td>
<td class=cellinside>     43.68
</td>
<td class=cellinside>8.0238e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>105
</td>
<td class=cellinside>slrn
</td>
<td class=cellinside>  2.38358
</td>
<td class=cellinside>4.6053e-03
</td>
<td class=cellinside>     26.67
</td>
<td class=cellinside>8.9432e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>81
</td>
<td class=cellinside>net-tools
</td>
<td class=cellinside>  4.29318
</td>
<td class=cellinside>7.2301e-03
</td>
<td class=cellinside>     32.00
</td>
<td class=cellinside>1.2300e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>33
</td>
<td class=cellinside>graph10up49
</td>
<td class=cellinside>  1.25200
</td>
<td class=cellinside>2.4661e-03
</td>
<td class=cellinside>    229.01
</td>
<td class=cellinside>8.7528e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>117
</td>
<td class=cellinside>wu-ftpd-1
</td>
<td class=cellinside>  2.41242
</td>
<td class=cellinside>9.8539e-03
</td>
<td class=cellinside>     29.64
</td>
<td class=cellinside>1.1174e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>53
</td>
<td class=cellinside>jodamoney
</td>
<td class=cellinside>  2.74888
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     10.60
</td>
<td class=cellinside>7.9747e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>35
</td>
<td class=cellinside>hw
</td>
<td class=cellinside>  8.49672
</td>
<td class=cellinside>6.4370e-16
</td>
<td class=cellinside>      5.76
</td>
<td class=cellinside>7.5600e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>37
</td>
<td class=cellinside>imapd-1
</td>
<td class=cellinside>  3.62499
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     41.95
</td>
<td class=cellinside>8.3113e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>118
</td>
<td class=cellinside>wu-ftpd-3
</td>
<td class=cellinside>  3.34020
</td>
<td class=cellinside>1.5091e-03
</td>
<td class=cellinside>     28.71
</td>
<td class=cellinside>5.6983e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>116
</td>
<td class=cellinside>udt-java
</td>
<td class=cellinside>  5.28282
</td>
<td class=cellinside>1.2181e-03
</td>
<td class=cellinside>     48.06
</td>
<td class=cellinside>7.8223e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>45
</td>
<td class=cellinside>javaocr
</td>
<td class=cellinside>  9.02066
</td>
<td class=cellinside>1.3955e-02
</td>
<td class=cellinside>     45.87
</td>
<td class=cellinside>1.0152e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>21
</td>
<td class=cellinside>dhcpd-1
</td>
<td class=cellinside>  3.96083
</td>
<td class=cellinside>6.4183e-04
</td>
<td class=cellinside>     51.65
</td>
<td class=cellinside>7.8243e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>36
</td>
<td class=cellinside>icecast
</td>
<td class=cellinside>  2.74742
</td>
<td class=cellinside>1.4551e-04
</td>
<td class=cellinside>     56.01
</td>
<td class=cellinside>8.9831e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>91
</td>
<td class=cellinside>pfcda_base
</td>
<td class=cellinside>  7.33187
</td>
<td class=cellinside>2.1793e-03
</td>
<td class=cellinside>     73.94
</td>
<td class=cellinside>2.0401e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>102
</td>
<td class=cellinside>servletapi
</td>
<td class=cellinside>  9.74747
</td>
<td class=cellinside>3.5628e-02
</td>
<td class=cellinside>     54.76
</td>
<td class=cellinside>1.4685e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>93
</td>
<td class=cellinside>php
</td>
<td class=cellinside>  5.32421
</td>
<td class=cellinside>4.1869e-16
</td>
<td class=cellinside>     22.14
</td>
<td class=cellinside>8.1203e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>bunch2
</td>
<td class=cellinside>  7.71149
</td>
<td class=cellinside>1.5365e-02
</td>
<td class=cellinside>     34.95
</td>
<td class=cellinside>1.2182e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>29
</td>
<td class=cellinside>forms
</td>
<td class=cellinside>  8.32579
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     55.98
</td>
<td class=cellinside>7.8663e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>57
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside> 10.74143
</td>
<td class=cellinside>4.8510e-03
</td>
<td class=cellinside>     54.46
</td>
<td class=cellinside>1.1059e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>63
</td>
<td class=cellinside>jxlscore
</td>
<td class=cellinside>  9.79502
</td>
<td class=cellinside>7.8301e-03
</td>
<td class=cellinside>    125.41
</td>
<td class=cellinside>5.0003e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>27
</td>
<td class=cellinside>elm-2
</td>
<td class=cellinside>  3.79995
</td>
<td class=cellinside>7.0206e-03
</td>
<td class=cellinside>    124.83
</td>
<td class=cellinside>3.3569e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>49
</td>
<td class=cellinside>jfluid
</td>
<td class=cellinside>  6.57960
</td>
<td class=cellinside>6.1845e-16
</td>
<td class=cellinside>     69.88
</td>
<td class=cellinside>8.7274e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>34
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside> 12.70536
</td>
<td class=cellinside>9.7785e-16
</td>
<td class=cellinside>     99.82
</td>
<td class=cellinside>1.8659e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>26
</td>
<td class=cellinside>elm-1
</td>
<td class=cellinside>  4.30567
</td>
<td class=cellinside>1.3742e-02
</td>
<td class=cellinside>    208.10
</td>
<td class=cellinside>4.5117e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>31
</td>
<td class=cellinside>gnupg
</td>
<td class=cellinside>  7.13058
</td>
<td class=cellinside>3.0011e-03
</td>
<td class=cellinside>    175.36
</td>
<td class=cellinside>2.2827e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>39
</td>
<td class=cellinside>inn
</td>
<td class=cellinside>  8.01629
</td>
<td class=cellinside>5.8327e-03
</td>
<td class=cellinside>    184.23
</td>
<td class=cellinside>3.9569e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>bash
</td>
<td class=cellinside>  5.88429
</td>
<td class=cellinside>8.1480e-03
</td>
<td class=cellinside>    227.00
</td>
<td class=cellinside>6.3470e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>55
</td>
<td class=cellinside>jpassword
</td>
<td class=cellinside> 10.62576
</td>
<td class=cellinside>2.3511e-02
</td>
<td class=cellinside>    194.54
</td>
<td class=cellinside>7.2082e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>bitchx
</td>
<td class=cellinside>  4.35862
</td>
<td class=cellinside>1.3028e-02
</td>
<td class=cellinside>    332.10
</td>
<td class=cellinside>8.9435e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>62
</td>
<td class=cellinside>junit
</td>
<td class=cellinside> 11.09003
</td>
<td class=cellinside>1.8605e-04
</td>
<td class=cellinside>     63.48
</td>
<td class=cellinside>1.3533e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>121
</td>
<td class=cellinside>xntp
</td>
<td class=cellinside>  8.34925
</td>
<td class=cellinside>3.9949e-03
</td>
<td class=cellinside>    334.93
</td>
<td class=cellinside>5.1645e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>acqCIGNA
</td>
<td class=cellinside> 16.51660
</td>
<td class=cellinside>8.9033e-03
</td>
<td class=cellinside>    120.25
</td>
<td class=cellinside>2.1630e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>bunch_2
</td>
<td class=cellinside> 13.60757
</td>
<td class=cellinside>8.9251e-03
</td>
<td class=cellinside>    320.38
</td>
<td class=cellinside>7.9982e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>28
</td>
<td class=cellinside>exim
</td>
<td class=cellinside>  6.61602
</td>
<td class=cellinside>2.4178e-03
</td>
<td class=cellinside>    357.67
</td>
<td class=cellinside>1.1366e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>120
</td>
<td class=cellinside>xmldom
</td>
<td class=cellinside> 10.92356
</td>
<td class=cellinside>0.0000e+00
</td>
<td class=cellinside>     49.00
</td>
<td class=cellinside>5.4901e+00
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>cia++
</td>
<td class=cellinside> 15.47239
</td>
<td class=cellinside>1.0712e-15
</td>
<td class=cellinside>    146.31
</td>
<td class=cellinside>3.8016e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>115
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 12.51998
</td>
<td class=cellinside>6.2888e-03
</td>
<td class=cellinside>    513.19
</td>
<td class=cellinside>4.7966e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>76
</td>
<td class=cellinside>mod_ssl
</td>
<td class=cellinside> 10.10195
</td>
<td class=cellinside>5.9802e-03
</td>
<td class=cellinside>    594.53
</td>
<td class=cellinside>1.7773e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>50
</td>
<td class=cellinside>jkaryoscope
</td>
<td class=cellinside> 18.98674
</td>
<td class=cellinside>1.7334e-03
</td>
<td class=cellinside>    225.93
</td>
<td class=cellinside>1.6405e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>80
</td>
<td class=cellinside>ncurses
</td>
<td class=cellinside> 11.82627
</td>
<td class=cellinside>3.1396e-03
</td>
<td class=cellinside>    302.37
</td>
<td class=cellinside>1.0491e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>30
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside> 17.33576
</td>
<td class=cellinside>7.0138e-03
</td>
<td class=cellinside>    194.38
</td>
<td class=cellinside>1.9605e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>72
</td>
<td class=cellinside>lynx
</td>
<td class=cellinside>  4.97140
</td>
<td class=cellinside>5.1674e-03
</td>
<td class=cellinside>    777.68
</td>
<td class=cellinside>3.2167e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>43
</td>
<td class=cellinside>javacc
</td>
<td class=cellinside> 10.69303
</td>
<td class=cellinside>3.4364e-02
</td>
<td class=cellinside>    961.39
</td>
<td class=cellinside>3.7777e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>70
</td>
<td class=cellinside>lucent
</td>
<td class=cellinside> 59.94877
</td>
<td class=cellinside>3.6413e-15
</td>
<td class=cellinside>     63.19
</td>
<td class=cellinside>1.6820e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>44
</td>
<td class=cellinside>JavaGeom
</td>
<td class=cellinside> 14.09949
</td>
<td class=cellinside>7.3497e-03
</td>
<td class=cellinside>   2099.59
</td>
<td class=cellinside>8.3191e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>38
</td>
<td class=cellinside>incl
</td>
<td class=cellinside> 13.61224
</td>
<td class=cellinside>6.1650e-03
</td>
<td class=cellinside>    226.18
</td>
<td class=cellinside>4.8836e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>48
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 26.06752
</td>
<td class=cellinside>1.1712e-02
</td>
<td class=cellinside>    627.43
</td>
<td class=cellinside>2.8815e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>119
</td>
<td class=cellinside>xmlapi
</td>
<td class=cellinside> 19.09631
</td>
<td class=cellinside>5.4161e-03
</td>
<td class=cellinside>    351.23
</td>
<td class=cellinside>8.3307e+01
</td></tr>
 
<tr> 
<td class=firstcolumn>51
</td>
<td class=cellinside>jmetal
</td>
<td class=cellinside> 12.53937
</td>
<td class=cellinside>3.3774e-02
</td>
<td class=cellinside>   3733.72
</td>
<td class=cellinside>1.8690e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>32
</td>
<td class=cellinside>graph10up193
</td>
<td class=cellinside>  2.24651
</td>
<td class=cellinside>6.5822e-03
</td>
<td class=cellinside>  24388.03
</td>
<td class=cellinside>1.2880e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>23
</td>
<td class=cellinside>dom4j
</td>
<td class=cellinside> 19.21559
</td>
<td class=cellinside>1.7590e-02
</td>
<td class=cellinside>   3178.14
</td>
<td class=cellinside>9.4555e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>86
</td>
<td class=cellinside>nmh
</td>
<td class=cellinside>  9.40220
</td>
<td class=cellinside>6.9411e-03
</td>
<td class=cellinside>   5489.47
</td>
<td class=cellinside>1.4154e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>90
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 22.35717
</td>
<td class=cellinside>1.3725e-03
</td>
<td class=cellinside>    620.57
</td>
<td class=cellinside>1.5359e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>60
</td>
<td class=cellinside>Jung_graph_model
</td>
<td class=cellinside> 32.02566
</td>
<td class=cellinside>1.2570e-02
</td>
<td class=cellinside>   1709.31
</td>
<td class=cellinside>6.5187e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>61
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 21.83006
</td>
<td class=cellinside>2.3786e-02
</td>
<td class=cellinside>   2380.09
</td>
<td class=cellinside>8.1525e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>47
</td>
<td class=cellinside>jconsole
</td>
<td class=cellinside> 26.51841
</td>
<td class=cellinside>3.6398e-03
</td>
<td class=cellinside>   1110.67
</td>
<td class=cellinside>2.7909e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>92
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 29.07201
</td>
<td class=cellinside>2.1664e-02
</td>
<td class=cellinside>   2323.16
</td>
<td class=cellinside>5.8014e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>52
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 17.55401
</td>
<td class=cellinside>2.1403e-02
</td>
<td class=cellinside>   9225.42
</td>
<td class=cellinside>2.8153e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>56
</td>
<td class=cellinside>jpassword2
</td>
<td class=cellinside> 28.59214
</td>
<td class=cellinside>1.4466e-02
</td>
<td class=cellinside>   5498.32
</td>
<td class=cellinside>1.7643e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>88
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 29.64456
</td>
<td class=cellinside>3.6563e-02
</td>
<td class=cellinside>   8663.26
</td>
<td class=cellinside>2.6088e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>95
</td>
<td class=cellinside>Poormans CMS
</td>
<td class=cellinside> 34.23546
</td>
<td class=cellinside>1.3026e-02
</td>
<td class=cellinside>   9241.76
</td>
<td class=cellinside>3.6112e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>68
</td>
<td class=cellinside>log4j
</td>
<td class=cellinside> 32.50388
</td>
<td class=cellinside>1.7813e-02
</td>
<td class=cellinside>   6504.08
</td>
<td class=cellinside>2.4963e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>59
</td>
<td class=cellinside>jtreeview
</td>
<td class=cellinside> 48.12804
</td>
<td class=cellinside>4.7258e-03
</td>
<td class=cellinside>   4451.91
</td>
<td class=cellinside>1.5241e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>bunchall
</td>
<td class=cellinside> 16.97494
</td>
<td class=cellinside>1.3968e-02
</td>
<td class=cellinside>   5446.92
</td>
<td class=cellinside>2.2514e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>42
</td>
<td class=cellinside>JACE
</td>
<td class=cellinside> 26.82142
</td>
<td class=cellinside>9.9105e-03
</td>
<td class=cellinside>   2787.18
</td>
<td class=cellinside>7.9104e+02
</td></tr>
 
<tr> 
<td class=firstcolumn>46
</td>
<td class=cellinside>javaws
</td>
<td class=cellinside> 38.31677
</td>
<td class=cellinside>9.0198e-03
</td>
<td class=cellinside>   6064.45
</td>
<td class=cellinside>2.2738e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>111
</td>
<td class=cellinside>swing
</td>
<td class=cellinside> 45.36454
</td>
<td class=cellinside>3.4172e-02
</td>
<td class=cellinside>  19910.29
</td>
<td class=cellinside>8.1411e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>71
</td>
<td class=cellinside>lwjgl-2.8.4
</td>
<td class=cellinside> 37.13882
</td>
<td class=cellinside>1.4645e-02
</td>
<td class=cellinside>  20800.96
</td>
<td class=cellinside>7.6442e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>99
</td>
<td class=cellinside>res_cobol
</td>
<td class=cellinside> 15.97610
</td>
<td class=cellinside>8.9677e-03
</td>
<td class=cellinside> 120757.31
</td>
<td class=cellinside>6.0122e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>94
</td>
<td class=cellinside>ping_libc
</td>
<td class=cellinside> 51.85827
</td>
<td class=cellinside>1.2768e-02
</td>
<td class=cellinside>  17863.87
</td>
<td class=cellinside>7.4170e+03
</td></tr>
 
<tr> 
<td class=firstcolumn>123
</td>
<td class=cellinside>y_base
</td>
<td class=cellinside> 58.30854
</td>
<td class=cellinside>2.4455e-02
</td>
<td class=cellinside>  87042.12
</td>
<td class=cellinside>4.4311e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>65
</td>
<td class=cellinside>krb5
</td>
<td class=cellinside> 54.59182
</td>
<td class=cellinside>3.4863e-02
</td>
<td class=cellinside>  37066.91
</td>
<td class=cellinside>1.2052e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>apache_ant_taskdef
</td>
<td class=cellinside> 66.63475
</td>
<td class=cellinside>2.5845e-02
</td>
<td class=cellinside>  30458.61
</td>
<td class=cellinside>1.2205e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>41
</td>
<td class=cellinside>itextpdf
</td>
<td class=cellinside> 58.65491
</td>
<td class=cellinside>3.4758e-02
</td>
<td class=cellinside> 122884.96
</td>
<td class=cellinside>4.5605e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>apache_lucene_core
</td>
<td class=cellinside> 76.87917
</td>
<td class=cellinside>4.4032e-02
</td>
<td class=cellinside> 176106.68
</td>
<td class=cellinside>9.5530e+04
</td></tr>
 
<tr> 
<td class=firstcolumn>25
</td>
<td class=cellinside>eclipse_jgit
</td>
<td class=cellinside> 86.54838
</td>
<td class=cellinside>3.7289e-02
</td>
<td class=cellinside> 343095.08
</td>
<td class=cellinside>1.2901e+05
</td></tr>
 
<tr> 
<td class=firstcolumn>67
</td>
<td class=cellinside>linux
</td>
<td class=cellinside> 54.63761
</td>
<td class=cellinside>3.4918e-02
</td>
<td class=cellinside>2153652.01
</td>
<td class=cellinside>7.9007e+05
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>apache_ant
</td>
<td class=cellinside>102.74301
</td>
<td class=cellinside>4.7668e-02
</td>
<td class=cellinside> 539802.50
</td>
<td class=cellinside>2.0295e+05
</td></tr>
 
<tr> 
<td class=firstcolumn>124
</td>
<td class=cellinside>ylayout
</td>
<td class=cellinside>111.03204
</td>
<td class=cellinside>3.1835e-02
</td>
<td class=cellinside> 874208.58
</td>
<td class=cellinside>2.8589e+05
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
