

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2710
</td>
<td class=cellinside>0.03678125
</td>
<td class=cellinside>   1.80
</td>
<td class=cellinside> 2.4121
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3318
</td>
<td class=cellinside>0.00137324
</td>
<td class=cellinside>   2.20
</td>
<td class=cellinside> 2.4944
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8155
</td>
<td class=cellinside>0.00366510
</td>
<td class=cellinside>   2.20
</td>
<td class=cellinside> 2.4944
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2222
</td>
<td class=cellinside>0.00383374
</td>
<td class=cellinside>   3.05
</td>
<td class=cellinside> 2.4510
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7644
</td>
<td class=cellinside>0.00559635
</td>
<td class=cellinside>   4.00
</td>
<td class=cellinside> 2.0101
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6729
</td>
<td class=cellinside>0.01172765
</td>
<td class=cellinside>   5.50
</td>
<td class=cellinside> 1.9462
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7399
</td>
<td class=cellinside>0.01039435
</td>
<td class=cellinside>  16.55
</td>
<td class=cellinside> 2.5321
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7052
</td>
<td class=cellinside>0.00116032
</td>
<td class=cellinside>  32.15
</td>
<td class=cellinside> 3.1984
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00018605
</td>
<td class=cellinside>  19.95
</td>
<td class=cellinside> 3.5173
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.4956
</td>
<td class=cellinside>0.00554822
</td>
<td class=cellinside> 102.70
</td>
<td class=cellinside> 6.0059
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.2929
</td>
<td class=cellinside>0.00000000
</td>
<td class=cellinside>  38.20
</td>
<td class=cellinside> 5.0010
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6057
</td>
<td class=cellinside>0.00916406
</td>
<td class=cellinside>  64.65
</td>
<td class=cellinside> 6.1239
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0608
</td>
<td class=cellinside>0.01018894
</td>
<td class=cellinside> 157.31
</td>
<td class=cellinside> 8.4192
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3570
</td>
<td class=cellinside>0.00193125
</td>
<td class=cellinside> 174.95
</td>
<td class=cellinside> 7.2298
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8167
</td>
<td class=cellinside>0.02598062
</td>
<td class=cellinside> 417.80
</td>
<td class=cellinside>13.4713
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0630
</td>
<td class=cellinside>0.02517193
</td>
<td class=cellinside> 644.60
</td>
<td class=cellinside>14.2609
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5145
</td>
<td class=cellinside>0.02928355
</td>
<td class=cellinside>1353.20
</td>
<td class=cellinside>30.2391
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5711
</td>
<td class=cellinside>0.03314939
</td>
<td class=cellinside>1252.55
</td>
<td class=cellinside>21.4911
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
