

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>500
</td>
<td class=cellinside>200.87
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>471
</td>
<td class=cellinside>140.02
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>327
</td>
<td class=cellinside> 50.90
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>500
</td>
<td class=cellinside>207.03
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>487
</td>
<td class=cellinside>209.27
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 19
</td>
<td class=cellinside>494
</td>
<td class=cellinside>223.96
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  6
</td>
<td class=cellinside>497
</td>
<td class=cellinside>115.79
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>473
</td>
<td class=cellinside>143.25
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>436
</td>
<td class=cellinside> 36.35
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 18
</td>
<td class=cellinside>465
</td>
<td class=cellinside>175.63
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  4
</td>
<td class=cellinside>275
</td>
<td class=cellinside> 68.93
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>492
</td>
<td class=cellinside>127.61
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 21
</td>
<td class=cellinside>486
</td>
<td class=cellinside>175.63
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 19
</td>
<td class=cellinside>498
</td>
<td class=cellinside>211.45
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 81
</td>
<td class=cellinside>497
</td>
<td class=cellinside>316.18
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 91
</td>
<td class=cellinside>498
</td>
<td class=cellinside>348.25
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 86
</td>
<td class=cellinside>499
</td>
<td class=cellinside>373.41
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>196
</td>
<td class=cellinside>500
</td>
<td class=cellinside>412.39
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
