

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>192
</td>
<td class=cellinside>499
</td>
<td class=cellinside>364.45
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>251
</td>
<td class=cellinside>500
</td>
<td class=cellinside>392.71
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>247
</td>
<td class=cellinside>499
</td>
<td class=cellinside>450.55
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>166
</td>
<td class=cellinside>499
</td>
<td class=cellinside>363.09
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>199
</td>
<td class=cellinside>500
</td>
<td class=cellinside>340.28
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>130
</td>
<td class=cellinside>485
</td>
<td class=cellinside>333.51
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>188
</td>
<td class=cellinside>494
</td>
<td class=cellinside>398.00
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>251
</td>
<td class=cellinside>500
</td>
<td class=cellinside>389.71
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>266
</td>
<td class=cellinside>499
</td>
<td class=cellinside>471.65
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>163
</td>
<td class=cellinside>482
</td>
<td class=cellinside>346.12
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>248
</td>
<td class=cellinside>496
</td>
<td class=cellinside>431.48
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>233
</td>
<td class=cellinside>500
</td>
<td class=cellinside>411.74
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>151
</td>
<td class=cellinside>479
</td>
<td class=cellinside>345.55
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>193
</td>
<td class=cellinside>481
</td>
<td class=cellinside>334.38
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 58
</td>
<td class=cellinside>419
</td>
<td class=cellinside>228.29
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 81
</td>
<td class=cellinside>409
</td>
<td class=cellinside>213.31
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 80
</td>
<td class=cellinside>414
</td>
<td class=cellinside>193.01
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 68
</td>
<td class=cellinside>304
</td>
<td class=cellinside>147.08
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
