

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 12
</td>
<td class=cellinside>1250
</td>
<td class=cellinside> 245.02
</td>
<td class=cellinside>1012
</td>
<td class=cellinside>2250
</td>
<td class=cellinside>1245.0
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 981
</td>
<td class=cellinside> 199.44
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1981
</td>
<td class=cellinside>1199.4
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>1376
</td>
<td class=cellinside> 170.44
</td>
<td class=cellinside>1002
</td>
<td class=cellinside>2376
</td>
<td class=cellinside>1170.4
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  5
</td>
<td class=cellinside>2078
</td>
<td class=cellinside> 602.68
</td>
<td class=cellinside>1005
</td>
<td class=cellinside>3078
</td>
<td class=cellinside>1602.7
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  5
</td>
<td class=cellinside>1128
</td>
<td class=cellinside> 291.41
</td>
<td class=cellinside>1005
</td>
<td class=cellinside>2128
</td>
<td class=cellinside>1291.4
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>1777
</td>
<td class=cellinside> 541.24
</td>
<td class=cellinside>1009
</td>
<td class=cellinside>2777
</td>
<td class=cellinside>1541.2
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  5
</td>
<td class=cellinside>1878
</td>
<td class=cellinside> 161.39
</td>
<td class=cellinside>1005
</td>
<td class=cellinside>2878
</td>
<td class=cellinside>1161.4
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1169
</td>
<td class=cellinside> 208.15
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2169
</td>
<td class=cellinside>1208.2
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 622
</td>
<td class=cellinside>  23.03
</td>
<td class=cellinside>1001
</td>
<td class=cellinside>1622
</td>
<td class=cellinside>1023.0
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 32
</td>
<td class=cellinside>1573
</td>
<td class=cellinside> 815.24
</td>
<td class=cellinside>1032
</td>
<td class=cellinside>2573
</td>
<td class=cellinside>1815.2
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1649
</td>
<td class=cellinside> 828.44
</td>
<td class=cellinside>1001
</td>
<td class=cellinside>2649
</td>
<td class=cellinside>1828.4
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1012
</td>
<td class=cellinside> 234.47
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>2012
</td>
<td class=cellinside>1234.5
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 28
</td>
<td class=cellinside>2360
</td>
<td class=cellinside> 446.40
</td>
<td class=cellinside>1028
</td>
<td class=cellinside>3360
</td>
<td class=cellinside>1446.4
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 25
</td>
<td class=cellinside>1198
</td>
<td class=cellinside> 341.66
</td>
<td class=cellinside>1025
</td>
<td class=cellinside>2198
</td>
<td class=cellinside>1341.7
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 79
</td>
<td class=cellinside>3429
</td>
<td class=cellinside>1194.25
</td>
<td class=cellinside>1079
</td>
<td class=cellinside>4429
</td>
<td class=cellinside>2194.2
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>113
</td>
<td class=cellinside>1745
</td>
<td class=cellinside> 524.89
</td>
<td class=cellinside>1113
</td>
<td class=cellinside>2745
</td>
<td class=cellinside>1524.9
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>197
</td>
<td class=cellinside>4061
</td>
<td class=cellinside>1601.92
</td>
<td class=cellinside>1197
</td>
<td class=cellinside>5061
</td>
<td class=cellinside>2601.9
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>282
</td>
<td class=cellinside>4806
</td>
<td class=cellinside>1599.25
</td>
<td class=cellinside>1282
</td>
<td class=cellinside>5806
</td>
<td class=cellinside>2599.2
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
