

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2747
</td>
<td class=cellinside>3.6900e-02
</td>
<td class=cellinside>   4.85
</td>
<td class=cellinside>   1.6598
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3320
</td>
<td class=cellinside>1.0782e-03
</td>
<td class=cellinside>   5.85
</td>
<td class=cellinside>   1.8876
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8164
</td>
<td class=cellinside>2.7488e-03
</td>
<td class=cellinside>   5.35
</td>
<td class=cellinside>   2.1620
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2253
</td>
<td class=cellinside>2.5194e-03
</td>
<td class=cellinside>  10.20
</td>
<td class=cellinside>   3.4023
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7660
</td>
<td class=cellinside>2.4595e-03
</td>
<td class=cellinside>   9.90
</td>
<td class=cellinside>   2.8409
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6807
</td>
<td class=cellinside>3.9746e-03
</td>
<td class=cellinside>  15.00
</td>
<td class=cellinside>   4.7673
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>1.1432e-15
</td>
<td class=cellinside>  29.85
</td>
<td class=cellinside>   6.8333
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7053
</td>
<td class=cellinside>8.2464e-04
</td>
<td class=cellinside>  55.75
</td>
<td class=cellinside>  12.8977
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>5.8699e-04
</td>
<td class=cellinside>  30.10
</td>
<td class=cellinside>   2.9284
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5157
</td>
<td class=cellinside>1.1815e-02
</td>
<td class=cellinside> 257.65
</td>
<td class=cellinside>  50.6745
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3279
</td>
<td class=cellinside>1.7686e-02
</td>
<td class=cellinside>  96.25
</td>
<td class=cellinside>  22.0579
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6073
</td>
<td class=cellinside>8.9807e-03
</td>
<td class=cellinside> 109.05
</td>
<td class=cellinside>  27.2168
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0649
</td>
<td class=cellinside>1.0822e-02
</td>
<td class=cellinside> 299.00
</td>
<td class=cellinside> 115.7475
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3573
</td>
<td class=cellinside>1.9880e-15
</td>
<td class=cellinside> 321.95
</td>
<td class=cellinside>  74.7011
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8282
</td>
<td class=cellinside>2.2363e-02
</td>
<td class=cellinside>1203.70
</td>
<td class=cellinside> 378.4195
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0707
</td>
<td class=cellinside>1.9175e-02
</td>
<td class=cellinside>1344.75
</td>
<td class=cellinside> 350.0933
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5443
</td>
<td class=cellinside>2.6165e-02
</td>
<td class=cellinside>4578.66
</td>
<td class=cellinside>1381.6100
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6267
</td>
<td class=cellinside>4.2575e-02
</td>
<td class=cellinside>4216.10
</td>
<td class=cellinside>1293.3834
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
