

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 12
</td>
<td class=cellinside> 758
</td>
<td class=cellinside> 233.04
</td>
<td class=cellinside> 812
</td>
<td class=cellinside>1558
</td>
<td class=cellinside>1033.04
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 769
</td>
<td class=cellinside> 183.54
</td>
<td class=cellinside> 800
</td>
<td class=cellinside>1569
</td>
<td class=cellinside> 983.54
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1138
</td>
<td class=cellinside> 155.02
</td>
<td class=cellinside> 801
</td>
<td class=cellinside>1938
</td>
<td class=cellinside> 955.02
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1399
</td>
<td class=cellinside> 390.47
</td>
<td class=cellinside> 801
</td>
<td class=cellinside>2199
</td>
<td class=cellinside>1190.47
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 13
</td>
<td class=cellinside>1201
</td>
<td class=cellinside> 286.75
</td>
<td class=cellinside> 813
</td>
<td class=cellinside>2001
</td>
<td class=cellinside>1086.75
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 41
</td>
<td class=cellinside>1644
</td>
<td class=cellinside> 464.06
</td>
<td class=cellinside> 841
</td>
<td class=cellinside>2444
</td>
<td class=cellinside>1264.06
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  9
</td>
<td class=cellinside>1020
</td>
<td class=cellinside> 143.62
</td>
<td class=cellinside> 809
</td>
<td class=cellinside>1820
</td>
<td class=cellinside> 943.62
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  4
</td>
<td class=cellinside>1024
</td>
<td class=cellinside> 172.48
</td>
<td class=cellinside> 804
</td>
<td class=cellinside>1824
</td>
<td class=cellinside> 972.48
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 678
</td>
<td class=cellinside>  29.74
</td>
<td class=cellinside> 801
</td>
<td class=cellinside>1478
</td>
<td class=cellinside> 829.74
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 45
</td>
<td class=cellinside>1228
</td>
<td class=cellinside> 531.88
</td>
<td class=cellinside> 845
</td>
<td class=cellinside>2028
</td>
<td class=cellinside>1331.88
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  2
</td>
<td class=cellinside>1335
</td>
<td class=cellinside> 545.02
</td>
<td class=cellinside> 802
</td>
<td class=cellinside>2135
</td>
<td class=cellinside>1345.02
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1009
</td>
<td class=cellinside> 181.15
</td>
<td class=cellinside> 800
</td>
<td class=cellinside>1809
</td>
<td class=cellinside> 981.15
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 23
</td>
<td class=cellinside>1804
</td>
<td class=cellinside> 397.13
</td>
<td class=cellinside> 823
</td>
<td class=cellinside>2604
</td>
<td class=cellinside>1197.13
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 14
</td>
<td class=cellinside>1219
</td>
<td class=cellinside> 358.79
</td>
<td class=cellinside> 814
</td>
<td class=cellinside>2019
</td>
<td class=cellinside>1158.79
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 90
</td>
<td class=cellinside>3248
</td>
<td class=cellinside> 947.74
</td>
<td class=cellinside> 890
</td>
<td class=cellinside>4048
</td>
<td class=cellinside>1747.74
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>107
</td>
<td class=cellinside>2177
</td>
<td class=cellinside> 555.70
</td>
<td class=cellinside> 907
</td>
<td class=cellinside>2977
</td>
<td class=cellinside>1355.70
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 90
</td>
<td class=cellinside>3835
</td>
<td class=cellinside>1272.44
</td>
<td class=cellinside> 890
</td>
<td class=cellinside>4635
</td>
<td class=cellinside>2072.44
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>251
</td>
<td class=cellinside>3128
</td>
<td class=cellinside>1317.05
</td>
<td class=cellinside>1051
</td>
<td class=cellinside>3928
</td>
<td class=cellinside>2117.05
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
