

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2805
</td>
<td class=cellinside>3.7020e-02
</td>
<td class=cellinside>   4.00
</td>
<td class=cellinside>   2.1320
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3321
</td>
<td class=cellinside>8.2809e-04
</td>
<td class=cellinside>   4.90
</td>
<td class=cellinside>   2.1296
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8166
</td>
<td class=cellinside>2.4858e-03
</td>
<td class=cellinside>   4.40
</td>
<td class=cellinside>   2.1649
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2241
</td>
<td class=cellinside>3.7690e-03
</td>
<td class=cellinside>   7.60
</td>
<td class=cellinside>   2.9712
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7662
</td>
<td class=cellinside>1.7480e-03
</td>
<td class=cellinside>   8.60
</td>
<td class=cellinside>   3.1042
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6808
</td>
<td class=cellinside>4.5486e-03
</td>
<td class=cellinside>  12.10
</td>
<td class=cellinside>   3.8389
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7418
</td>
<td class=cellinside>1.0560e-03
</td>
<td class=cellinside>  24.60
</td>
<td class=cellinside>   4.6428
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7054
</td>
<td class=cellinside>9.7785e-16
</td>
<td class=cellinside>  46.20
</td>
<td class=cellinside>   8.8797
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>2.2558e-04
</td>
<td class=cellinside>  24.40
</td>
<td class=cellinside>   4.0998
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5107
</td>
<td class=cellinside>1.2499e-02
</td>
<td class=cellinside> 191.75
</td>
<td class=cellinside>  50.6043
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3207
</td>
<td class=cellinside>2.1376e-02
</td>
<td class=cellinside>  71.45
</td>
<td class=cellinside>  21.0374
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6060
</td>
<td class=cellinside>9.1494e-03
</td>
<td class=cellinside>  86.10
</td>
<td class=cellinside>  23.7366
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0643
</td>
<td class=cellinside>9.7792e-03
</td>
<td class=cellinside> 252.75
</td>
<td class=cellinside>  99.0316
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3570
</td>
<td class=cellinside>1.9312e-03
</td>
<td class=cellinside> 279.70
</td>
<td class=cellinside>  75.1659
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8262
</td>
<td class=cellinside>2.3893e-02
</td>
<td class=cellinside> 980.85
</td>
<td class=cellinside> 335.5773
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0712
</td>
<td class=cellinside>2.1293e-02
</td>
<td class=cellinside>1215.00
</td>
<td class=cellinside> 323.0864
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5411
</td>
<td class=cellinside>2.7403e-02
</td>
<td class=cellinside>3707.21
</td>
<td class=cellinside>1123.3756
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6176
</td>
<td class=cellinside>4.0157e-02
</td>
<td class=cellinside>3504.31
</td>
<td class=cellinside>1018.2070
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
