

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>FIXED_PARAM  </th>
		<th>PARAM_VALUE  </th>
		<th>WIN  </th>
		<th>TIME_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>INITIAL_SOLUTION_METHOD
</td>
<td class=cellinside>CAMQ
</td>
<td class=cellinside>7455
</td>
<td class=cellinside>744.12
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>INITIAL_SOLUTION_METHOD
</td>
<td class=cellinside>CR
</td>
<td class=cellinside>2024
</td>
<td class=cellinside>577.98
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
