

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2746
</td>
<td class=cellinside>0.03811666
</td>
<td class=cellinside>   2.30
</td>
<td class=cellinside>  2.5045
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3308
</td>
<td class=cellinside>0.00201560
</td>
<td class=cellinside>   2.45
</td>
<td class=cellinside>  2.5121
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8160
</td>
<td class=cellinside>0.00328173
</td>
<td class=cellinside>   2.10
</td>
<td class=cellinside>  2.4802
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2211
</td>
<td class=cellinside>0.00393623
</td>
<td class=cellinside>   3.55
</td>
<td class=cellinside>  2.6869
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7629
</td>
<td class=cellinside>0.00707245
</td>
<td class=cellinside>   4.90
</td>
<td class=cellinside>  2.9284
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6771
</td>
<td class=cellinside>0.00969302
</td>
<td class=cellinside>   6.35
</td>
<td class=cellinside>  2.6453
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7404
</td>
<td class=cellinside>0.01031363
</td>
<td class=cellinside>  13.10
</td>
<td class=cellinside>  3.0797
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7048
</td>
<td class=cellinside>0.00211465
</td>
<td class=cellinside>  24.30
</td>
<td class=cellinside>  5.5967
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00022558
</td>
<td class=cellinside>  12.20
</td>
<td class=cellinside>  2.8710
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5088
</td>
<td class=cellinside>0.01262418
</td>
<td class=cellinside> 103.75
</td>
<td class=cellinside> 26.4706
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3136
</td>
<td class=cellinside>0.02209695
</td>
<td class=cellinside>  35.70
</td>
<td class=cellinside> 12.8908
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6022
</td>
<td class=cellinside>0.00855134
</td>
<td class=cellinside>  41.60
</td>
<td class=cellinside> 11.5225
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0635
</td>
<td class=cellinside>0.00950036
</td>
<td class=cellinside> 133.55
</td>
<td class=cellinside> 47.6588
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3562
</td>
<td class=cellinside>0.00534563
</td>
<td class=cellinside> 158.95
</td>
<td class=cellinside> 44.9652
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8340
</td>
<td class=cellinside>0.02226630
</td>
<td class=cellinside> 558.95
</td>
<td class=cellinside>165.8530
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0654
</td>
<td class=cellinside>0.02375832
</td>
<td class=cellinside> 728.80
</td>
<td class=cellinside>185.3064
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5320
</td>
<td class=cellinside>0.02893903
</td>
<td class=cellinside>2028.65
</td>
<td class=cellinside>599.6177
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6021
</td>
<td class=cellinside>0.03829156
</td>
<td class=cellinside>2004.90
</td>
<td class=cellinside>527.2556
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
