

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 800
</td>
<td class=cellinside>178.21
</td>
<td class=cellinside>401
</td>
<td class=cellinside>1200
</td>
<td class=cellinside> 578.21
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 373
</td>
<td class=cellinside> 84.98
</td>
<td class=cellinside>400
</td>
<td class=cellinside> 773
</td>
<td class=cellinside> 484.98
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  3
</td>
<td class=cellinside> 583
</td>
<td class=cellinside> 83.05
</td>
<td class=cellinside>403
</td>
<td class=cellinside> 983
</td>
<td class=cellinside> 483.05
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 842
</td>
<td class=cellinside>182.43
</td>
<td class=cellinside>401
</td>
<td class=cellinside>1242
</td>
<td class=cellinside> 582.43
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 636
</td>
<td class=cellinside>223.66
</td>
<td class=cellinside>400
</td>
<td class=cellinside>1036
</td>
<td class=cellinside> 623.66
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 10
</td>
<td class=cellinside> 732
</td>
<td class=cellinside>280.79
</td>
<td class=cellinside>410
</td>
<td class=cellinside>1132
</td>
<td class=cellinside> 680.79
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  6
</td>
<td class=cellinside> 551
</td>
<td class=cellinside>109.74
</td>
<td class=cellinside>406
</td>
<td class=cellinside> 951
</td>
<td class=cellinside> 509.74
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 410
</td>
<td class=cellinside>112.77
</td>
<td class=cellinside>400
</td>
<td class=cellinside> 810
</td>
<td class=cellinside> 512.77
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 278
</td>
<td class=cellinside> 21.00
</td>
<td class=cellinside>401
</td>
<td class=cellinside> 678
</td>
<td class=cellinside> 421.00
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 26
</td>
<td class=cellinside> 826
</td>
<td class=cellinside>318.45
</td>
<td class=cellinside>426
</td>
<td class=cellinside>1226
</td>
<td class=cellinside> 718.45
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  3
</td>
<td class=cellinside> 929
</td>
<td class=cellinside>265.59
</td>
<td class=cellinside>403
</td>
<td class=cellinside>1329
</td>
<td class=cellinside> 665.59
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 710
</td>
<td class=cellinside> 73.57
</td>
<td class=cellinside>400
</td>
<td class=cellinside>1110
</td>
<td class=cellinside> 473.57
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 25
</td>
<td class=cellinside> 887
</td>
<td class=cellinside>213.11
</td>
<td class=cellinside>425
</td>
<td class=cellinside>1287
</td>
<td class=cellinside> 613.11
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>  7
</td>
<td class=cellinside> 975
</td>
<td class=cellinside>250.94
</td>
<td class=cellinside>407
</td>
<td class=cellinside>1375
</td>
<td class=cellinside> 650.94
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>115
</td>
<td class=cellinside>1715
</td>
<td class=cellinside>578.73
</td>
<td class=cellinside>515
</td>
<td class=cellinside>2115
</td>
<td class=cellinside> 978.73
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>129
</td>
<td class=cellinside>1083
</td>
<td class=cellinside>382.00
</td>
<td class=cellinside>529
</td>
<td class=cellinside>1483
</td>
<td class=cellinside> 782.00
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 76
</td>
<td class=cellinside>1967
</td>
<td class=cellinside>683.61
</td>
<td class=cellinside>476
</td>
<td class=cellinside>2367
</td>
<td class=cellinside>1083.61
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>234
</td>
<td class=cellinside>1816
</td>
<td class=cellinside>740.45
</td>
<td class=cellinside>634
</td>
<td class=cellinside>2216
</td>
<td class=cellinside>1140.45
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
