

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>FIXED_PARAM  </th>
		<th>PARAM_VALUE  </th>
		<th>WIN  </th>
		<th>TIME_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>DESTRUTIVE_METHOD
</td>
<td class=cellinside>DR
</td>
<td class=cellinside>20283
</td>
<td class=cellinside>1770.7
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>DESTRUTIVE_METHOD
</td>
<td class=cellinside>DDFB
</td>
<td class=cellinside>19975
</td>
<td class=cellinside>1775.5
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>DESTRUTIVE_METHOD
</td>
<td class=cellinside>DCR
</td>
<td class=cellinside>  226
</td>
<td class=cellinside>1306.5
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
