

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>163
</td>
<td class=cellinside>498
</td>
<td class=cellinside>364.21
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>254
</td>
<td class=cellinside>500
</td>
<td class=cellinside>410.58
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>165
</td>
<td class=cellinside>497
</td>
<td class=cellinside>419.53
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>167
</td>
<td class=cellinside>499
</td>
<td class=cellinside>412.19
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>180
</td>
<td class=cellinside>500
</td>
<td class=cellinside>355.39
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>120
</td>
<td class=cellinside>478
</td>
<td class=cellinside>313.70
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>122
</td>
<td class=cellinside>491
</td>
<td class=cellinside>356.53
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>259
</td>
<td class=cellinside>500
</td>
<td class=cellinside>392.75
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>242
</td>
<td class=cellinside>499
</td>
<td class=cellinside>474.94
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>124
</td>
<td class=cellinside>464
</td>
<td class=cellinside>267.90
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>159
</td>
<td class=cellinside>486
</td>
<td class=cellinside>341.39
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>253
</td>
<td class=cellinside>500
</td>
<td class=cellinside>445.12
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>137
</td>
<td class=cellinside>463
</td>
<td class=cellinside>325.39
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>136
</td>
<td class=cellinside>476
</td>
<td class=cellinside>323.00
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 73
</td>
<td class=cellinside>342
</td>
<td class=cellinside>165.70
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 65
</td>
<td class=cellinside>311
</td>
<td class=cellinside>159.58
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 43
</td>
<td class=cellinside>266
</td>
<td class=cellinside>120.01
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 43
</td>
<td class=cellinside>291
</td>
<td class=cellinside>101.67
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
