

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2668
</td>
<td class=cellinside>0.03629917
</td>
<td class=cellinside>  2.25
</td>
<td class=cellinside>2.50000
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3312
</td>
<td class=cellinside>0.00187610
</td>
<td class=cellinside>  2.70
</td>
<td class=cellinside>2.50454
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8161
</td>
<td class=cellinside>0.00381925
</td>
<td class=cellinside>  3.00
</td>
<td class=cellinside>2.56235
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2201
</td>
<td class=cellinside>0.00339833
</td>
<td class=cellinside>  3.45
</td>
<td class=cellinside>2.32412
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7602
</td>
<td class=cellinside>0.00842812
</td>
<td class=cellinside>  4.15
</td>
<td class=cellinside>2.75745
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6762
</td>
<td class=cellinside>0.01373150
</td>
<td class=cellinside>  5.20
</td>
<td class=cellinside>0.98473
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7407
</td>
<td class=cellinside>0.00832197
</td>
<td class=cellinside>  9.15
</td>
<td class=cellinside>1.88763
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7047
</td>
<td class=cellinside>0.00224847
</td>
<td class=cellinside> 13.15
</td>
<td class=cellinside>2.62611
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00016587
</td>
<td class=cellinside>  9.80
</td>
<td class=cellinside>1.21439
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5122
</td>
<td class=cellinside>0.01323123
</td>
<td class=cellinside> 26.15
</td>
<td class=cellinside>2.82977
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3267
</td>
<td class=cellinside>0.01858452
</td>
<td class=cellinside> 16.50
</td>
<td class=cellinside>2.51259
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6002
</td>
<td class=cellinside>0.00746668
</td>
<td class=cellinside> 21.46
</td>
<td class=cellinside>2.77587
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0614
</td>
<td class=cellinside>0.00949080
</td>
<td class=cellinside> 33.50
</td>
<td class=cellinside>3.44510
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3548
</td>
<td class=cellinside>0.00863576
</td>
<td class=cellinside> 36.05
</td>
<td class=cellinside>2.77934
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8151
</td>
<td class=cellinside>0.02774676
</td>
<td class=cellinside> 58.50
</td>
<td class=cellinside>3.51763
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0290
</td>
<td class=cellinside>0.03218739
</td>
<td class=cellinside> 74.85
</td>
<td class=cellinside>4.29088
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5045
</td>
<td class=cellinside>0.03157086
</td>
<td class=cellinside>116.35
</td>
<td class=cellinside>4.65230
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5523
</td>
<td class=cellinside>0.05226665
</td>
<td class=cellinside>110.25
</td>
<td class=cellinside>4.73409
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
