

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2668
</td>
<td class=cellinside>0.03752040
</td>
<td class=cellinside>   1.80
</td>
<td class=cellinside>  2.4121
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3305
</td>
<td class=cellinside>0.00209765
</td>
<td class=cellinside>   1.90
</td>
<td class=cellinside>  2.4392
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8151
</td>
<td class=cellinside>0.00495429
</td>
<td class=cellinside>   1.80
</td>
<td class=cellinside>  2.4121
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2207
</td>
<td class=cellinside>0.00372557
</td>
<td class=cellinside>   2.35
</td>
<td class=cellinside>  2.5081
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7604
</td>
<td class=cellinside>0.00848668
</td>
<td class=cellinside>   3.95
</td>
<td class=cellinside>  2.7793
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6737
</td>
<td class=cellinside>0.01449540
</td>
<td class=cellinside>   4.90
</td>
<td class=cellinside>  2.5604
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7392
</td>
<td class=cellinside>0.01282038
</td>
<td class=cellinside>  11.40
</td>
<td class=cellinside>  3.5590
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7041
</td>
<td class=cellinside>0.00295940
</td>
<td class=cellinside>  18.20
</td>
<td class=cellinside>  4.5238
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0899
</td>
<td class=cellinside>0.00079272
</td>
<td class=cellinside>   9.45
</td>
<td class=cellinside>  2.3457
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5007
</td>
<td class=cellinside>0.01654174
</td>
<td class=cellinside>  75.00
</td>
<td class=cellinside> 21.9848
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3070
</td>
<td class=cellinside>0.02065261
</td>
<td class=cellinside>  24.75
</td>
<td class=cellinside>  9.1667
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6022
</td>
<td class=cellinside>0.00855134
</td>
<td class=cellinside>  30.20
</td>
<td class=cellinside>  8.3461
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0600
</td>
<td class=cellinside>0.01067018
</td>
<td class=cellinside>  97.80
</td>
<td class=cellinside> 29.5190
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3535
</td>
<td class=cellinside>0.01073207
</td>
<td class=cellinside> 108.20
</td>
<td class=cellinside> 27.6296
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8245
</td>
<td class=cellinside>0.02557001
</td>
<td class=cellinside> 425.25
</td>
<td class=cellinside>116.8016
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0631
</td>
<td class=cellinside>0.02451545
</td>
<td class=cellinside> 611.90
</td>
<td class=cellinside>152.8612
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5206
</td>
<td class=cellinside>0.03092590
</td>
<td class=cellinside>1555.30
</td>
<td class=cellinside>472.5510
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.5914
</td>
<td class=cellinside>0.03933088
</td>
<td class=cellinside>1624.30
</td>
<td class=cellinside>371.0360
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
