

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  2
</td>
<td class=cellinside> 524
</td>
<td class=cellinside>137.67
</td>
<td class=cellinside>302
</td>
<td class=cellinside> 824
</td>
<td class=cellinside>437.67
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 291
</td>
<td class=cellinside> 63.09
</td>
<td class=cellinside>300
</td>
<td class=cellinside> 591
</td>
<td class=cellinside>363.09
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  3
</td>
<td class=cellinside> 489
</td>
<td class=cellinside> 79.20
</td>
<td class=cellinside>303
</td>
<td class=cellinside> 789
</td>
<td class=cellinside>379.20
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 474
</td>
<td class=cellinside>114.53
</td>
<td class=cellinside>301
</td>
<td class=cellinside> 774
</td>
<td class=cellinside>414.53
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 551
</td>
<td class=cellinside>167.70
</td>
<td class=cellinside>300
</td>
<td class=cellinside> 851
</td>
<td class=cellinside>467.70
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 10
</td>
<td class=cellinside> 663
</td>
<td class=cellinside>213.01
</td>
<td class=cellinside>310
</td>
<td class=cellinside> 963
</td>
<td class=cellinside>513.01
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside> 14
</td>
<td class=cellinside> 498
</td>
<td class=cellinside>122.68
</td>
<td class=cellinside>314
</td>
<td class=cellinside> 798
</td>
<td class=cellinside>422.68
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 299
</td>
<td class=cellinside> 89.66
</td>
<td class=cellinside>300
</td>
<td class=cellinside> 599
</td>
<td class=cellinside>389.66
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 320
</td>
<td class=cellinside> 25.79
</td>
<td class=cellinside>301
</td>
<td class=cellinside> 620
</td>
<td class=cellinside>325.79
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 11
</td>
<td class=cellinside> 647
</td>
<td class=cellinside>225.11
</td>
<td class=cellinside>311
</td>
<td class=cellinside> 947
</td>
<td class=cellinside>525.11
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  2
</td>
<td class=cellinside> 653
</td>
<td class=cellinside>163.95
</td>
<td class=cellinside>302
</td>
<td class=cellinside> 953
</td>
<td class=cellinside>463.95
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 344
</td>
<td class=cellinside> 47.09
</td>
<td class=cellinside>300
</td>
<td class=cellinside> 644
</td>
<td class=cellinside>347.09
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 16
</td>
<td class=cellinside> 733
</td>
<td class=cellinside>147.38
</td>
<td class=cellinside>316
</td>
<td class=cellinside>1033
</td>
<td class=cellinside>447.38
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>  6
</td>
<td class=cellinside> 428
</td>
<td class=cellinside>142.18
</td>
<td class=cellinside>306
</td>
<td class=cellinside> 728
</td>
<td class=cellinside>442.18
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside> 92
</td>
<td class=cellinside>1111
</td>
<td class=cellinside>412.86
</td>
<td class=cellinside>392
</td>
<td class=cellinside>1411
</td>
<td class=cellinside>712.86
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 91
</td>
<td class=cellinside> 941
</td>
<td class=cellinside>361.15
</td>
<td class=cellinside>391
</td>
<td class=cellinside>1241
</td>
<td class=cellinside>661.15
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside> 77
</td>
<td class=cellinside>1437
</td>
<td class=cellinside>558.32
</td>
<td class=cellinside>377
</td>
<td class=cellinside>1737
</td>
<td class=cellinside>858.32
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>158
</td>
<td class=cellinside>1420
</td>
<td class=cellinside>574.21
</td>
<td class=cellinside>458
</td>
<td class=cellinside>1720
</td>
<td class=cellinside>874.21
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
