

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  9
</td>
<td class=cellinside> 989
</td>
<td class=cellinside>273.83
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1704
</td>
<td class=cellinside>1040.0
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 990
</td>
<td class=cellinside>274.05
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1979
</td>
<td class=cellinside>1076.6
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  3
</td>
<td class=cellinside> 848
</td>
<td class=cellinside>167.74
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1451
</td>
<td class=cellinside>1017.8
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  2
</td>
<td class=cellinside> 976
</td>
<td class=cellinside>426.58
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1817
</td>
<td class=cellinside>1153.9
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 13
</td>
<td class=cellinside> 972
</td>
<td class=cellinside>357.93
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1633
</td>
<td class=cellinside>1044.3
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 38
</td>
<td class=cellinside> 987
</td>
<td class=cellinside>439.21
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1811
</td>
<td class=cellinside>1061.4
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>  9
</td>
<td class=cellinside> 660
</td>
<td class=cellinside>182.79
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1229
</td>
<td class=cellinside>1005.4
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 802
</td>
<td class=cellinside>178.12
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1603
</td>
<td class=cellinside>1016.4
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 883
</td>
<td class=cellinside> 79.76
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1763
</td>
<td class=cellinside>1014.8
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 57
</td>
<td class=cellinside> 975
</td>
<td class=cellinside>432.36
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1574
</td>
<td class=cellinside>1053.2
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside> 38
</td>
<td class=cellinside> 992
</td>
<td class=cellinside>494.68
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1937
</td>
<td class=cellinside>1151.4
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 974
</td>
<td class=cellinside>165.85
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1947
</td>
<td class=cellinside>1055.1
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 38
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>456.95
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1819
</td>
<td class=cellinside>1135.7
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 16
</td>
<td class=cellinside> 972
</td>
<td class=cellinside>423.29
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1904
</td>
<td class=cellinside>1075.8
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>147
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>657.05
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1782
</td>
<td class=cellinside>1100.9
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>226
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>708.13
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1566
</td>
<td class=cellinside>1100.6
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>146
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>778.29
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1583
</td>
<td class=cellinside>1103.1
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>488
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>867.10
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>1458
</td>
<td class=cellinside>1097.1
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
