

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>NO_IMPROVEMENT_GAP_MIN  </th>
		<th>NO_IMPROVEMENT_GAP_MAX  </th>
		<th>NO_IMPROVEMENT_GAP_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>341
</td>
<td class=cellinside> 991
</td>
<td class=cellinside>766.20
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>506
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>802.54
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>346
</td>
<td class=cellinside> 997
</td>
<td class=cellinside>850.10
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>299
</td>
<td class=cellinside> 998
</td>
<td class=cellinside>727.34
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>358
</td>
<td class=cellinside> 987
</td>
<td class=cellinside>686.39
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside>258
</td>
<td class=cellinside> 962
</td>
<td class=cellinside>622.15
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>421
</td>
<td class=cellinside> 991
</td>
<td class=cellinside>822.63
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>502
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>838.24
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>503
</td>
<td class=cellinside> 999
</td>
<td class=cellinside>935.08
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>285
</td>
<td class=cellinside> 943
</td>
<td class=cellinside>620.86
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>335
</td>
<td class=cellinside> 962
</td>
<td class=cellinside>656.74
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>438
</td>
<td class=cellinside>1000
</td>
<td class=cellinside>889.24
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>244
</td>
<td class=cellinside> 962
</td>
<td class=cellinside>678.79
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>335
</td>
<td class=cellinside> 984
</td>
<td class=cellinside>652.47
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>169
</td>
<td class=cellinside> 853
</td>
<td class=cellinside>443.86
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>198
</td>
<td class=cellinside> 774
</td>
<td class=cellinside>392.44
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>101
</td>
<td class=cellinside> 854
</td>
<td class=cellinside>324.81
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside> 87
</td>
<td class=cellinside> 512
</td>
<td class=cellinside>230.03
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
