

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2755
</td>
<td class=cellinside>3.6949e-02
</td>
<td class=cellinside>  4.15
</td>
<td class=cellinside>1.8876
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3319
</td>
<td class=cellinside>1.2678e-03
</td>
<td class=cellinside>  5.35
</td>
<td class=cellinside>1.2822
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8169
</td>
<td class=cellinside>1.9970e-03
</td>
<td class=cellinside>  5.00
</td>
<td class=cellinside>0.0000
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2224
</td>
<td class=cellinside>3.8503e-03
</td>
<td class=cellinside>  6.60
</td>
<td class=cellinside>2.3441
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7655
</td>
<td class=cellinside>3.8288e-03
</td>
<td class=cellinside>  7.20
</td>
<td class=cellinside>2.4944
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6815
</td>
<td class=cellinside>7.4771e-03
</td>
<td class=cellinside>  9.10
</td>
<td class=cellinside>1.9306
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>1.1432e-15
</td>
<td class=cellinside> 18.70
</td>
<td class=cellinside>2.3160
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7053
</td>
<td class=cellinside>8.2464e-04
</td>
<td class=cellinside> 26.10
</td>
<td class=cellinside>2.0817
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0901
</td>
<td class=cellinside>1.4169e-04
</td>
<td class=cellinside> 19.80
</td>
<td class=cellinside>1.5763
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5177
</td>
<td class=cellinside>1.1523e-02
</td>
<td class=cellinside> 50.56
</td>
<td class=cellinside>1.5720
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3358
</td>
<td class=cellinside>6.5194e-03
</td>
<td class=cellinside> 30.20
</td>
<td class=cellinside>1.2144
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6022
</td>
<td class=cellinside>8.5513e-03
</td>
<td class=cellinside> 41.20
</td>
<td class=cellinside>2.1462
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0649
</td>
<td class=cellinside>9.1936e-03
</td>
<td class=cellinside> 67.50
</td>
<td class=cellinside>2.7979
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3568
</td>
<td class=cellinside>3.7034e-03
</td>
<td class=cellinside> 70.45
</td>
<td class=cellinside>1.4381
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8288
</td>
<td class=cellinside>2.0880e-02
</td>
<td class=cellinside>116.25
</td>
<td class=cellinside>2.5000
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0582
</td>
<td class=cellinside>2.2423e-02
</td>
<td class=cellinside>147.40
</td>
<td class=cellinside>2.7961
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5307
</td>
<td class=cellinside>2.5364e-02
</td>
<td class=cellinside>232.95
</td>
<td class=cellinside>4.7191
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6032
</td>
<td class=cellinside>4.0335e-02
</td>
<td class=cellinside>215.65
</td>
<td class=cellinside>3.0695
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
