

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>ITERATION_MIN  </th>
		<th>ITERATION_MAX  </th>
		<th>ITERATION_MEAN  </th>
		<th>LAST_ITERATION_MIN  </th>
		<th>LAST_ITERATION_MAX  </th>
		<th>LAST_ITERATION_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 744
</td>
<td class=cellinside> 227.33
</td>
<td class=cellinside>601
</td>
<td class=cellinside>1344
</td>
<td class=cellinside> 827.33
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 568
</td>
<td class=cellinside> 134.83
</td>
<td class=cellinside>600
</td>
<td class=cellinside>1168
</td>
<td class=cellinside> 734.83
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside>  2
</td>
<td class=cellinside> 939
</td>
<td class=cellinside> 168.25
</td>
<td class=cellinside>602
</td>
<td class=cellinside>1539
</td>
<td class=cellinside> 768.25
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside>  1
</td>
<td class=cellinside>1161
</td>
<td class=cellinside> 277.59
</td>
<td class=cellinside>601
</td>
<td class=cellinside>1761
</td>
<td class=cellinside> 877.59
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside>  0
</td>
<td class=cellinside>1053
</td>
<td class=cellinside> 266.09
</td>
<td class=cellinside>600
</td>
<td class=cellinside>1653
</td>
<td class=cellinside> 866.09
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 24
</td>
<td class=cellinside>1251
</td>
<td class=cellinside> 360.60
</td>
<td class=cellinside>624
</td>
<td class=cellinside>1851
</td>
<td class=cellinside> 960.60
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside> 15
</td>
<td class=cellinside>1095
</td>
<td class=cellinside> 179.37
</td>
<td class=cellinside>615
</td>
<td class=cellinside>1695
</td>
<td class=cellinside> 779.37
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 483
</td>
<td class=cellinside> 145.20
</td>
<td class=cellinside>600
</td>
<td class=cellinside>1083
</td>
<td class=cellinside> 745.20
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>  1
</td>
<td class=cellinside> 423
</td>
<td class=cellinside>  43.07
</td>
<td class=cellinside>601
</td>
<td class=cellinside>1023
</td>
<td class=cellinside> 643.07
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside> 21
</td>
<td class=cellinside> 945
</td>
<td class=cellinside> 404.42
</td>
<td class=cellinside>621
</td>
<td class=cellinside>1545
</td>
<td class=cellinside>1004.42
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>  5
</td>
<td class=cellinside>1124
</td>
<td class=cellinside> 448.88
</td>
<td class=cellinside>605
</td>
<td class=cellinside>1724
</td>
<td class=cellinside>1048.88
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>  0
</td>
<td class=cellinside> 532
</td>
<td class=cellinside> 105.76
</td>
<td class=cellinside>600
</td>
<td class=cellinside>1132
</td>
<td class=cellinside> 705.76
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside> 18
</td>
<td class=cellinside>1690
</td>
<td class=cellinside> 271.25
</td>
<td class=cellinside>618
</td>
<td class=cellinside>2290
</td>
<td class=cellinside> 871.25
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside> 23
</td>
<td class=cellinside> 936
</td>
<td class=cellinside> 277.45
</td>
<td class=cellinside>623
</td>
<td class=cellinside>1536
</td>
<td class=cellinside> 877.45
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>123
</td>
<td class=cellinside>2136
</td>
<td class=cellinside> 707.14
</td>
<td class=cellinside>723
</td>
<td class=cellinside>2736
</td>
<td class=cellinside>1307.14
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside> 87
</td>
<td class=cellinside>1395
</td>
<td class=cellinside> 495.37
</td>
<td class=cellinside>687
</td>
<td class=cellinside>1995
</td>
<td class=cellinside>1095.37
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>123
</td>
<td class=cellinside>2336
</td>
<td class=cellinside> 965.53
</td>
<td class=cellinside>723
</td>
<td class=cellinside>2936
</td>
<td class=cellinside>1565.53
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>216
</td>
<td class=cellinside>2467
</td>
<td class=cellinside>1068.61
</td>
<td class=cellinside>816
</td>
<td class=cellinside>3067
</td>
<td class=cellinside>1668.61
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
