

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>INSTANCE  </th>
		<th>MQ  </th>
		<th>MQ_STD  </th>
		<th>TIME  </th>
		<th>TIME_STD</th> 
	</tr> 
<tr> 
<td class=firstcolumn>12
</td>
<td class=cellinside>mtunis
</td>
<td class=cellinside> 2.2737
</td>
<td class=cellinside>0.03791654
</td>
<td class=cellinside>   3.20
</td>
<td class=cellinside>  2.4121
</td></tr>
 
<tr> 
<td class=firstcolumn>6
</td>
<td class=cellinside>ispell
</td>
<td class=cellinside> 2.3316
</td>
<td class=cellinside>0.00158737
</td>
<td class=cellinside>   3.65
</td>
<td class=cellinside>  2.2310
</td></tr>
 
<tr> 
<td class=firstcolumn>13
</td>
<td class=cellinside>nanoxml
</td>
<td class=cellinside> 3.8161
</td>
<td class=cellinside>0.00308146
</td>
<td class=cellinside>   3.75
</td>
<td class=cellinside>  3.2856
</td></tr>
 
<tr> 
<td class=firstcolumn>17
</td>
<td class=cellinside>rcs
</td>
<td class=cellinside> 2.2226
</td>
<td class=cellinside>0.00402408
</td>
<td class=cellinside>   5.45
</td>
<td class=cellinside>  2.7611
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>apache_zip
</td>
<td class=cellinside> 5.7652
</td>
<td class=cellinside>0.00437626
</td>
<td class=cellinside>   6.70
</td>
<td class=cellinside>  2.5839
</td></tr>
 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>bison
</td>
<td class=cellinside> 2.6784
</td>
<td class=cellinside>0.00689292
</td>
<td class=cellinside>   9.20
</td>
<td class=cellinside>  3.3874
</td></tr>
 
<tr> 
<td class=firstcolumn>9
</td>
<td class=cellinside>jscatterplot
</td>
<td class=cellinside>10.7419
</td>
<td class=cellinside>0.00021505
</td>
<td class=cellinside>  20.20
</td>
<td class=cellinside>  5.7261
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>grappa
</td>
<td class=cellinside>12.7052
</td>
<td class=cellinside>0.00116032
</td>
<td class=cellinside>  34.85
</td>
<td class=cellinside>  6.8702
</td></tr>
 
<tr> 
<td class=firstcolumn>11
</td>
<td class=cellinside>junit
</td>
<td class=cellinside>11.0900
</td>
<td class=cellinside>0.00058028
</td>
<td class=cellinside>  19.30
</td>
<td class=cellinside>  3.6251
</td></tr>
 
<tr> 
<td class=firstcolumn>18
</td>
<td class=cellinside>tinytim
</td>
<td class=cellinside>12.5090
</td>
<td class=cellinside>0.01405534
</td>
<td class=cellinside> 145.35
</td>
<td class=cellinside> 36.1343
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>gae_plugin_core
</td>
<td class=cellinside>17.3189
</td>
<td class=cellinside>0.02177526
</td>
<td class=cellinside>  55.30
</td>
<td class=cellinside> 16.7998
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>incl
</td>
<td class=cellinside>13.6046
</td>
<td class=cellinside>0.00911995
</td>
<td class=cellinside>  61.30
</td>
<td class=cellinside> 14.5751
</td></tr>
 
<tr> 
<td class=firstcolumn>7
</td>
<td class=cellinside>jdendogram
</td>
<td class=cellinside>26.0626
</td>
<td class=cellinside>0.00944845
</td>
<td class=cellinside> 185.65
</td>
<td class=cellinside> 63.3718
</td></tr>
 
<tr> 
<td class=firstcolumn>15
</td>
<td class=cellinside>pdf_renderer
</td>
<td class=cellinside>22.3571
</td>
<td class=cellinside>0.00142033
</td>
<td class=cellinside> 216.45
</td>
<td class=cellinside> 50.6588
</td></tr>
 
<tr> 
<td class=firstcolumn>10
</td>
<td class=cellinside>jung_visualization
</td>
<td class=cellinside>21.8276
</td>
<td class=cellinside>0.02361438
</td>
<td class=cellinside> 752.95
</td>
<td class=cellinside>192.8234
</td></tr>
 
<tr> 
<td class=firstcolumn>16
</td>
<td class=cellinside>pfcda_swing
</td>
<td class=cellinside>29.0658
</td>
<td class=cellinside>0.02396892
</td>
<td class=cellinside> 995.85
</td>
<td class=cellinside>240.0211
</td></tr>
 
<tr> 
<td class=firstcolumn>8
</td>
<td class=cellinside>jml-1.0b4
</td>
<td class=cellinside>17.5365
</td>
<td class=cellinside>0.02723893
</td>
<td class=cellinside>2811.86
</td>
<td class=cellinside>876.8504
</td></tr>
 
<tr> 
<td class=firstcolumn>14
</td>
<td class=cellinside>notelab-full
</td>
<td class=cellinside>29.6118
</td>
<td class=cellinside>0.03680864
</td>
<td class=cellinside>2772.15
</td>
<td class=cellinside>833.6655
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
