

<p align= center >
<table cellspacing=0 border=0>
<caption align=bottom class=captiondataframe></caption>
<tr><td>
	<table border=1 class=dataframe>
	<tbody> 
	<tr class= firstline > 
		<th>&nbsp;  </th>
		<th>FIXED_PARAM  </th>
		<th>PARAM_VALUE  </th>
		<th>WIN  </th>
		<th>TIME_MEAN</th> 
	</tr> 
<tr> 
<td class=firstcolumn>2
</td>
<td class=cellinside>REPAIR_METHOD
</td>
<td class=cellinside>RGBI
</td>
<td class=cellinside>15817
</td>
<td class=cellinside>1979.943
</td></tr>
 
<tr> 
<td class=firstcolumn>3
</td>
<td class=cellinside>REPAIR_METHOD
</td>
<td class=cellinside>RGBIR
</td>
<td class=cellinside>11853
</td>
<td class=cellinside>  64.618
</td></tr>
 
<tr> 
<td class=firstcolumn>1
</td>
<td class=cellinside>REPAIR_METHOD
</td>
<td class=cellinside>RFIR
</td>
<td class=cellinside> 1659
</td>
<td class=cellinside>  24.023
</td></tr>
 
<tr> 
<td class=firstcolumn>4
</td>
<td class=cellinside>REPAIR_METHOD
</td>
<td class=cellinside>RGBWI
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>1612.598
</td></tr>
 
<tr> 
<td class=firstcolumn>5
</td>
<td class=cellinside>REPAIR_METHOD
</td>
<td class=cellinside>RGWIR
</td>
<td class=cellinside>    0
</td>
<td class=cellinside>  64.562
</td></tr>
 
	</tbody>
</table>
 </td></table>
 <br>
